/************************************************

Stylesheet: Main Stylesheet

*************************************************/

/*********************
GENERAL STYLES
*********************/

body {
	font-family: "titregular", sans-serif;
}

/*********************
LINK STYLES
*********************/
a, a:visited {

	// Mobile tap color
	&:link {
		//Highlight links on iOS, Similar to :hover for mobile devices.
		-webkit-tap-highlight-color : rgba( 0, 0, 0, 0.3 );
	}
}

a.mes {
	font-family: "titsemibold";
}

/*********************
H1, H2, H3, H4, H5 P STYLES
*********************/
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5 {

	font-family: "titsemibold", sans-serif;
	line-height: 120%;

	// Removing text decoration from all headline links
	a {
		text-decoration: none;
	}
}

p {line-height: 1.4;
	color: #4a4a4a;

}

h1, .h1 {

}

h2, .h2 {

}

h3, .h3 {

}

h4, .h4 {

}

h5, .h5 {

}

h1.rubik, h2.rubik, h3.rubik {
	font-family: "rubikbold";
}

h2.rubik {
	font-size: 2rem;
}

a.button, button {
	font-family: "titsemibold";
}

.sand-bkg {
	background-color: $sand;
}

.orange {
	color: $orange;
}
.green {
	color: $green;
}
.purple {
	color: $purple;
}

.tit-bold, .bold, strong {
	font-family: "tit_bdbold";
	font-weight: normal;
}

.semi-bold {
	font-family: "titsemibold";
	font-weight: normal;
}

.hidetxt {
	text-indent: -8000px;
	overflow: hidden;
}

.top-bar-right.show-for-small-only a {
	color: #fff;
}

.off-canvas {
	background-color: #eef9f7;
}

.off-canvas-wrapper {

	#top-bar-menu .menu > li > a {
		font-family: "titsemibold";
		font-weight: normal;
		font-size: 1.2rem;
	}

	.menu > li > a {
		font-family: "titsemibold";
		font-weight: normal;
		font-size: 1.5rem;
	}

	#menu-menu-estatic.menu > li > a {
		font-size: 1rem;
	}

}

/*texto del campo de search*/
input#searchText::-webkit-input-placeholder {
    color: #F49339;
}


.search-box-panel {
	position: absolute;
	left: 20px;
	top: 20px;
	z-index: 9999;
	width: 390px;
	max-height: 800px;
	display: none;
}

#map.leaflet-container .leaflet-control {
	background-color: #f8f8f8;;
	h3 {
		font-size: 1.5rem;
		padding: 0.6rem 1rem 0.8rem 1rem;
		background: #F49339;
		line-height: 22px;
	}
	p {
		color: #F49339;
		font-family:"titsemibold";
	}
}

// /*altura auto de la ficha en el mapa*/
.leaflet-sidebar {
    position: absolute;
    height: auto !important;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    z-index: 2000;
    max-height: 100% !important;
}

.leaflet-sidebar > .leaflet-control {
    height: auto !important;
    width: 100%;
    overflow: hidden !important;
    -webkit-overflow-scrolling: touch;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 1.1em;
    background: white;
    box-shadow: 0 1px 7px rgba(0, 0, 0, 0.65);
    -webkit-border-radius: 4px;
    border-radius: 4px;
		transition-property: height;
		transition-duration: 1s;
		transition-timing-function: linear;
		transition-delay: 0.5s;
}


#map .leaflet-control-attribution.leaflet-control{
	background-color: #ffffff;
	color: #ddd;
	a { color: #ddd;}
}

#map  .leaflet-popup-content-wrapper, .map-legends, .map-tooltip {
	-webkit-border-radius: 0 !important;
	-moz-border-radius: 0 !important;
	border-radius: 0 !important;
	background-color: #ffffff !important;
	color: #F49339 !important;
	padding:20px;
}

#map  .leaflet-sidebar .leaflet-control {
	-webkit-border-radius: 0 !important;
	-moz-border-radius: 0 !important;
	border-radius: 0 !important;
	background-color: #ffffff !important;
	color: #F49339 !important;
	padding:20px;
	overflow: hidden;
}

#sidebar {
	cursor: pointer;
}

.search-box-panel.special-fixed {
	position: fixed;
	top: 75px;
	z-index: -1;
}

.leaflet-popup-content-wrapper, .map-legends, .map-tooltip {
	background-color: #f3eee4  !important;
	color: #F49339 !important;
}

.leaflet-popup-content-wrapper {
	padding: 5px;
		.leaflet-popup-content {
			font-size: 1rem;
		}
}


/* CELITOS */
@mixin left(){
	left: -15px;
	top: -0px;
	position: absolute;
	transform: rotate(-45deg);
}
@mixin right(){
	right: -15px;
	top: -0px;
	position: absolute;
	transform: rotate(45deg);
}
.celito {
	width: 47px;
	height: 18px;
	position: absolute;
	z-index: 996;
	opacity: 0.75;
	&.purple{
		background-color: $purple;
		&.left{
			@include left()
		}
		&.right{
			@include right()
		}
	}
	&.orange{
		background-color: $orange;
		&.left{
			@include left()
		}
		&.right{
			@include right()
		}
	}
	&.green{
		background-color: $green;
		&.left{
			@include left()
		}
		&.right{
			@include right()
		}
	}
}



.social-afiliations {
	.celito {
		width: 30px;
		height: 15px;
		position: absolute;
		z-index: 999;
		opacity: 0.75;
		left:50%;
		top: -7px;
	}

	.celito.purple {
		background-color: $purple;
	}

	.celito.orange {
		background-color: $orange;
	}

	.celito.green {
		background-color: $green;
	}
}


.related {
	img {
		margin: 0 5px 10px 0;
	}

	p.semi-bold {
		font-size: 1.25rem;
		margin-bottom: 0;
	}
}

.centered {
	margin-left: auto;
	margin-right: auto;
	float: none;
	clear: both;
}

.textcenter {
	text-align: center;
}

/*********************
HEADER STYLES
*********************/
.header {
border-top: 1px solid $orange;

	ul.off-canvas-list li {
		list-style: none;
	}
	#logo {
		text-align: center;
		display: block;
		margin: 0 auto 0 auto;
		padding-top: 1rem;
		background-color: $sand;
			a {
				width: 270px;
				height: auto;
				display: block;
				margin: 0 auto;
			}

			a img {
				width: 100%;
				height: auto;
			}

	}
	.idiomas {
		min-width: 120px;
		padding: .5rem;
    margin: 0;
    border: 0px solid #ccc;
    border-radius: 0;
    overflow: hidden;
    background-color: #fff;
		font-family: "titsemibold";

			select {
			color: $orange;
			padding: 0;
			margin: 0;
			height: inherit;
    	width: 130%;
    	border: none;
    	box-shadow: none;
    	background-color: transparent;
    	background-image: none;
    	-webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
			cursor: pointer;
			}

			select:focus {
				outline: none;
			}

			span.icon-arrow-down {
				color: $orange;
				font-size: 1.25rem;
				position: absolute;
				right: 8px;
				top:10px;
			}
	}

	.sessio {
		min-width: 135px;
		padding: .5rem;
		font-family: "titsemibold";
		position: relative;

		.icon-arrow-right {
			font-size: 1.25rem;
			top:10px;
			right: 10px;
			position: absolute;
		}
	}

	#lema {
		text-align: center;
		background-color: $soft-grey;
		padding-bottom: 1rem;
		position: relative;
		margin-bottom: 64px;
	}

	#top-bar-menu {
		text-align: center;
		background-color: $orange;
		border-top: 1px solid $white;
		position: absolute;
		margin-top: -64px;
  		left: 50%;
		transform: translateX(-50%);
		width: 100%;
		z-index: 999;
		img {
			width: 120px;
			height: auto;
			position: absolute;
			left: 2%;
			top: -2000px;
			-webkit-transition: all 0.5s ease;
	    -moz-transition: all 0.5s ease;
	    -o-transition: all 0.5s ease;
	    transition: all 0.5s ease;
		}
	}

	#top-bar-menu.specialfixed {

		img {
			top:22px;
		}
	}

}

.menu-centered .menu a {
	font-family: "titsemibold";
	color: #fff;
}

.menu-centered .menu a:hover {
	color: #000;
}

.menu-centered .menu .active > a {
	color: $black;
	border-bottom: 2px solid $black;
	background-color: transparent;
}

.menu-centered .menu.submenu .active > a {
	color: $black;
	border-bottom: 1px solid #ddd;
	background-color: $white;
}

.menu-centered .menu.submenu a {
	color: $black;
	border-bottom: 1px solid #ddd;
	background-color: $white;
}

/* MENU STATIC */

.menu-static {
	margin: 0 auto 2rem auto;

	.menu {
		text-align: center;
		margin: 0 auto;
		width: 99%;
		clear: both;
		float: none;

		img {
			width: 70%;
		}

		a {
			font-family: "titsemibold";
			text-align: center;
			padding: .5rem;
		}
	}

}

/*********************
NAVIGATION STYLES
*********************/

section.entry-content.specialheight h2 {
	padding-top: 5px;
}




#top-bar-menu.specialfixed {
	position: fixed;
	top: 0;
	left: 50%;
	z-index: 999;
	margin-top: 0px;
}

#menu-menu-estatic.menu.medium-horizontal > li {
	display: inline-block;
	text-align: center;
}

.menu-static.specialfixed {
	position: fixed;
  top: 64px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
	width: 100%;
	background-color: #faf8f3;
	padding: 0.4687rem;
}

.admin-bar .menu-static.specialfixed {
	top:97px;

}

.menu-static.specialfixed .menu {
	width: 40%;
	margin: 0 auto;

	 img {
		 display: none !important;
		 width: 30%;
		 margin: 0 auto;
		 vertical-align: middle;
	 }

}

.admin-bar #top-bar-menu.specialfixed {
  top: 31px;
}

.top-bar {
	background-color: #fff;
	.title-area {
		z-index: 1;
	}
ul {
	background-color: transparent;
}

}

.off-canvas-list {
	ul {
		margin-left: 0;
		li {
			a {
				border-bottom: 0px;
			}
		}
		.dropdown {
			margin-left: 20px;
		}
	}
}

/*********************
POSTS & CONTENT STYLES
*********************/
#content {
	#inner-content {
		padding: 1rem 0rem;
		-webkit-transition: all 0.5s ease;
		-moz-transition: all 0.5s ease;
		-o-transition: all 0.5s ease;
		transition: all 0.5s ease;
	}
}

.box-head {
	margin-bottom: 1rem;
	p {
		width: 75%;
		color: $purple;
	}
}

.box-head::after {
	content: " ";
  display: table;
	clear: both;
}



.box-search, .widget_search {
	margin-bottom: 2rem;
	padding: 0 1rem;
	background-color: $sand;
	font-family: "titsemibold";
	position: relative;

	 button.control {
		 padding: 12px 12px;
		 color: #fff
	 }

	 button.control:hover {
		cursor: pointer;
	}

	.comissions button.control {
		color: $orange
	}


	.icon-iconos-my-roca-comparer {
		font-size: 1.5rem;
		vertical-align: middle;
	}

	input {
		border: 0;
		box-shadow: none;
		background-color: transparent;
		color: #666;
		border-bottom: 1px solid #666;

	}

	input::placeholder {
		color: #666;
	}

	div.columns {
		padding: 1rem;
	}

		select {
			text-align: center;
			color: #666;
			padding: 4px 0;
			margin: 4px 0 0 0;
			height: inherit;
			border: none;
			box-shadow: none;
			background-color: $white;
			background-image: none;
			-webkit-appearance: none;
			-moz-appearance: none;
			appearance: none;
		}

		fieldset {
			position: relative;
		}

		fieldset.select-wrapper::after {
			font-family: 'icomoon' !important;
			content: "\e901";
			position: absolute;
			right: 4px;
			z-index: 998;
			top: 22%;
			right: 2px;
		}

 .txt-search {
	 background-color:$soft-green;
	 padding: 1rem 0;
	 height: 100%;
	 display: inline-block;
 }

	}

	.widget_search {
		background-color: $white;
		padding: 0;
	}

.single-title,
h1.page-title {
	font-family: "stencil";
	color: $purple;
	font-size: 2.5rem;
	width: 80%;
	display: inline-block;
}

.link-to-map {
	width: 15%;
	display: inline-block;
	float: right;
	 a {
		 width: 100%;
	 }
}

.single-title {

}

.page-title {

	// Remove Foundation vcard styling from author page titles
	.vcard {
		border: 0px;
		padding: 0px;
	}
}

.archive-title {

}

// Post meta
.byline {
	color: #999;
	time {}
}

// Entry content
.entry-content {

	img {
		max-width: 100%;
		height: auto;
	}

	.alignleft, img.alignleft {
		margin-right: 1.5em;
		display: inline;
		float: left;
	}
	.alignright, img.alignright {
		margin-left: 1.5em;
		display: inline;
		float: right;
	}
	.aligncenter, img.aligncenter {
		margin-right: auto;
		margin-left: auto;
		display: block;
		clear: both;
	}

	video, object {
		max-width: 100%;
		height: auto;
		}

	pre {
		background: #eee;
		border: 1px solid #cecece;
		padding: 10px;
		}

}

.wp-post-image {
	display: block;
	margin: auto;
}

.resum p {
	margin: 1.5em 0;
	font-size: 1.3em;
	color: #F19039;
	text-align: center;
}

.wp-caption {
	max-width: 100%;
	background: #eee;
	padding: 5px;

	// Images inside wp-caption
	img {
		max-width: 100%;
		margin-bottom: 0;
		width: 100%;
	}

	p.wp-caption-text {
		font-size: 0.85em;
		margin: 4px 0 7px;
		text-align: center;
	}
}

// Add Foundation styling to password protect button
.post-password-form input[type="submit"] {
	@include button;
}


.page-title {

}


.single-map {
	background-color: $soft-grey;
	min-height: 420px;
	margin-top: 1rem;
}

.criteris {
	li {
		list-style-type: none;
		padding: 6px;
		margin: 0;
		position: relative;
		display: block;
	}
	li:nth-child(odd) {
		background-color: #f3f1ec;
	}
	li p {
		padding: 0;
		margin: 0;
		text-indent: 0.5rem;
		font-size: .85rem;
		font-family: "titsemibold";
		display: inline-block;
	}
	li p.out {
		color:#cccccc;
	}
	li.cero > p {
		color: #bbb;
	}
	li > span {
		color: $orange;
		font-size: 1.5rem;
		vertical-align: middle;
	}
	li div {
		position: absolute;
		right: 0;
		top:0px;
		width: 156px;
		height: 100%;
	}

	li div span {
		width: 14px;
		height: 14px;
		background-color: transparent;
		display: inline-block;
		margin: 7px 2px 0 2px;
		-webkit-border-radius: 16px;
		-moz-border-radius: 16px;
		border-radius: 15px;
		vertical-align: middle;
	}

	li div span.do {
		background-color: $orange;
	}

	img.disabled {
		-webkit-filter: grayscale(100%);
		filter: grayscale(100%);
		opacity: 0.5;
	}
}

p.titol-sidebar {
    font-size: 20px;
    font-weight: 800;
		border-bottom: 1px solid #ccc;
    padding-bottom: 4px;
}





.sidebar-criteris {
    background: #fff;
    padding: 20px 20px 0 20px !important;
		background: rgba(255,255,255,0.6);
}

.ima-pagina-ficha {
	img {
		width: 100%;
	}
}



section.adress {
    font-size: 15px;
		p {
			line-height: 24px;
		}
}

ul.criteris {
	margin-left: 0px;
	li img {


    padding: 1px;


	}
}

.share {
	padding: 2rem 0;
}

.share div {
	padding: 1rem;
	background-color: $sand;
	text-align: center;
}

.share .telegram {
	padding: 2.75rem 1rem;
}

.share .telegram, .share .entry-content {
	height: 123px;
}

.share .telegram span.icon-telegram {
	font-size: 2rem;
	vertical-align: middle;
	padding: 4px 10px;
	color: #0088cc;
}

.share .favorite {
	margin-top: 0;
	text-align: center;
	padding: .15rem;
}

.favorite .icon-xinxeta {
	font-size: 2.5rem;
	//padding: .5rem;
	vertical-align: middle;
}

.share .social-sharing {
	padding: .15rem;
}

.single-xinxeta {
padding: 0 30px 0 25px !important;
	h1.entry-title.single-title {
		font-family: "rubikbold";
		font-size: 1.75rem;
		color: $black;
	}
	h2 {
		font-size: 1.15rem;
	}
	p.descripcio {
		font-size: 1.05rem;
	}
	.fn, .twitter {

		display: inline-block;
		padding: 0.5rem 0;
	}
	.fn a, .twitter a {
		padding: 1rem 0.5rem 1rem 0;
	}
}

.social a {
	color: #4a4a4a;
	padding-right:0.5rem;;

}

ul.llista-sectors {
	list-style-type: none;
	margin-left: 0;
	color: #F19039;
  font-weight: 600;
	li {
		padding-bottom: 6px;
		font-size: 15px;
		img {
			width: 25px;
		}
			&:first-child {
    padding-top: 10px;
}
	}
}

.bloc-xinxeta {
	h1.entry-title.single-title {
		font-family: "titsemibold",sans-serif;
		font-size: 2rem;
		color: $black;
		text-align: center;
		width: 100%;
	}

	.large-4.medium-4.columns > div {
		width: 70%;
		margin: 0 auto 2rem auto;
		-webkit-border-radius: 200px;
		-moz-border-radius: 200px;
		border-radius: 200px;
		overflow: hidden;
	}

	.favorite {
		p {
			margin-bottom: 0;
		}
	}
}

ul.dades_agenda {
    list-style: none;
    margin:0;
}

.related .blog {
	background-color: transparent;
}

.xinxeta {
	min-height: 480px;
	display: inline-block;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;

	h3 {
		text-align: center;
		margin: 1rem 0;
	}
	p {
		text-align: center;
		font-size: .875rem;
		margin-bottom: .5rem;
	}
	.circle {
		-webkit-border-radius: 200px;
		-moz-border-radius: 200px;
		border-radius: 200px;
		width: 100%;
    height: auto;
    margin: 20px auto 0 auto;
    overflow: hidden;
    width: 70%;
	}
	hr {
		width: 50%;
		margin: 1rem auto;
	}


}

.xinxeta.visualEffect {
	background-color: #FFDC70;
}

#users .featured-image {
margin-bottom:30px;
}



/*********************
IMAGE GALLERY STYLES
*********************/


#punts {

	.visualEffect {
		background-color: #FFDC70;
	}

	.panel {
		min-height: 380px;
		max-height: 380px;
		position: relative;
		-webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;

		h3 {
			font-size: 1.15em;
			padding-top: .5rem;
			min-height: 2.9em;
			a {
				color: $black !important;

			}
		}
		.favorite {
			position: absolute;
			top: 10px;
			left: 20px;
			width: 40px;
			height: 40px;
			background-color: $sand;
			z-index: 997;
			-webkit-border-radius: 25px;
			-moz-border-radius: 25px;
			border-radius: 25px;
			text-align: center;
			padding: 2px;
				.icon-xinxeta {
					font-size: 2rem;
					color: $orange;
				}
		}

	}

	.description p {
		clear: both;
		float: none;

	}

	.featured-image img {
		margin-bottom: 1rem;
	}

	.veurefitxa span {
		font-size: 4rem;

		 vertical-align: middle;

	}

	.veurefitxa p {
		display: inline-block;
	}

	li {
		list-style-type: none;
	}

	li h3 {
		font-size: 1.15em;
		a {
			color: $black;
		}
	}

	.featured-image {
		float: left;
		display: block;
		width: 60%;
		background-size: cover;
		height: 150px;
		margin-right: 13px;
		img {
				padding-right: .25rem;
				width: 95%;
  				max-height: 150px;
    			object-fit: cover;
    			height: auto;
			}

	}

	featured-image.visualEffect {
		background-color: #FFDC70;
	}

	.sectors {
		font-size: 80%;
	}

	.entry-content {

		display: block;
		p {
			padding: .5rem 0 .5rem 0;
			margin-bottom: 0;
		}

		&.description {
			max-height: 140px;
		}
	}

	.entity-box-header {
		height: 170px;

	}


	entity-box-header.visualEffect {
		background-color: #FFDC70;
	}

	.entity-slider-box-header {
		height: auto;
    background-color: #f6f1e7; /*#f3eee4;*/
		min-height: 160px;

		img {
			width: 38%;
			height: auto; /*height: 145px;*/
			float: left;
			margit-right: 10px;
			max-height: 145px;
			margin: 2%;
			border: 5px solid #fff;
		}

		a {
			color: #F49339;
		}

		.sectors img {
			width: 24px;
			height: 24px;
		}

		.entity-slider-box-info {
			display: inline-block;
			margin-left: 0px;
			width: 55%;
			padding: 17px 14px 12px 10px;
				i.fa.fa-map-marker, i.fa.fa-calendar, i.fa.fa-circle {
				padding-right: 7px;
				font-size: 15px;

				}

			h4 {
				font-size: 1.2em;
				margin-top: 8px;
			}

			span {
				color: #4a4a4a;
			}
		}
	}

	.entity-slider-box-contents {
		width: 100%;
		height: auto;
		margin-top: 18px;
	}

	.entity-slider-box-description {
		width: 92%;
		float: left;
		color: #4a4a4a;
		margin-left: 18px;
		height: auto;
		padding-left: 2%;
		padding-right: 5%;
		font-size: 14px;
		margin-bottom: 16px;

		}

	.entity-slider-box-button {
		float: left;
		clear: left;
		width: 100%;
		text-align: center;
		padding-top: 14px;
		background: #f6f1e7; /*#faf5eb;*/

	}

	.entity-slider-box-criteria {
		width: 100%;
		display: inline-block;
		text-align: center;
		background: #faf8f3;
		padding: 8px 12px;
		border-top: 1px solid #f4bb87;
		border-bottom: 1px solid #f4bb87;




		h4 {
			font-size: 1.2em;
		}

		img {
			margin: 4px;
		}

		.entity-slider-box-icons {
			margin: auto;
			width: 100%;

			img {
				width: 18px;
			}
		}
	}

	li > div {
		height: 340px;
	}

} /* end punts */

/*añadidos por V*/
.ficha-punts {
    background: #faf8f3;
			h3 {
	    background: #fff;
	    margin-bottom: 0;
	    padding-bottom: 10px;
				a {
		    font-size: 18px;
		    text-transform: uppercase;
		    color: #fff;
				}
			}
}



/*********************
IMAGE GALLERY STYLES
*********************/
	.gallery {

		dl {

			a {}

			img {}

		}

		dt {}

		dd {}

}

// Gallery caption styles
.gallery-caption {}
.size-full {}
.size-large {}
.size-medium {}
.size-thumbnail {}

/*********************
PAGE NAVI STYLES
*********************/
.page-navigation {
	margin-top: 1rem;
}

/*********************
COMMENT STYLES
*********************/
#comments {
	.commentlist {
		margin-left: 0px;
	}
}

#respond {
	ul {
		margin-left: 0px;
	}
}

.commentlist {
	li {
		position: relative;
		clear: both;
		overflow: hidden;
		list-style-type: none;
		margin-bottom: 1.5em;
		padding: 0.7335em 10px;

		&:last-child {
			margin-bottom: 0;
		}

		ul.children {
			margin: 0;

			li {}

			.comment {}
			.alt {}
			.odd {}
			.even {}
			.depth-1 {}           // Change number for different depth
			.byuser {}
			.bypostauthor {}
			.comment-author-admin {}

		}
	}

	li[class*=depth-] {
		margin-top: 1.1em;
	}

	li.depth-1 {
		margin-left: 0;
		margin-top: 0;
	}

	li:not(.depth-1) {
		margin-left: 10px;
		margin-top: 0;
		padding-bottom: 0;
	}

	li.depth-2 {}
	li.depth-3 {
	}
	li.depth-4 {}
	li.depth-5 {}

	// General comment classes
	.alt {}
	.odd {
	}
	.even {
	}
	.parent {}
	.comment {}
	.children {}
	.pingback {}
	.bypostauthor {}
	.comment-author {}
	.comment-author-admin {}
	.thread-alt {}
	.thread-odd {}
	.thread-even {}

	// vcard
	.vcard {
		margin-left: 50px;

		cite.fn {
			font-weight: 700;
			font-style: normal;

			a.url {}

		}

		time {
			float: right;

			a {
				color: #999;
				text-decoration: none;

				&:hover {
					text-decoration: underline;
				}

			}

		}

		img.photo {}

		img.avatar {
			position: absolute;
			left: 10px;
			padding: 2px;
			border: 1px solid #cecece;
			background: #fff;
		}

	} // end .commentlist .vcard


	// comment meta
	.comment-meta {

		a {}

	}

	.commentmetadata {

		a {}

	}

	// comment content
	.comment_content {

		p {
			margin: 0.7335em 0 1.5em;
			font-size: 1em;
			line-height: 1.5em;
		}

	} // end .commentlist .comment_content

	// comment reply link
	.comment-reply-link {
		float: right;

		&:hover,
		&:focus {

		}

	} // end .commentlist .comment-reply-link

} // end .commentlist

/*********************
COMMENT FORM STYLES
*********************/
.respond-form {
	margin: 1.5em 10px;
	padding-bottom: 2.2em;

	form {
		margin: 0.75em 0;

		li {
			list-style-type: none;
			clear: both;
			margin-bottom: 0.7335em;

			label,
			small {
				display: none;
			}
		}

		input[type=text],
		input[type=email],
		input[type=url],
		textarea {
			padding: 3px 6px;
			background: #efefef;
			border: 2px solid #cecece;
			line-height: 1.5em;

			&:focus {
				background: #fff;
			}

			// form validation
			&:invalid {
				outline: none;
				border-color: #fbc2c4;
				background-color: #f6e7eb;
				-webkit-box-shadow: none;
				   -moz-box-shadow: none;
				    -ms-box-shadow: none;
						box-shadow: none;
			}
		}

		input[type=text],
		input[type=email],
		input[type=url] {
			max-width: 400px;
			min-width: 250px;
		}

		textarea {
			resize: none;
			width: 97.3%;
			height: 150px;
		}

	}
}

// comment submit button
#submit {}

// comment form title
#comment-form-title {
	margin: 0 0 1.1em;
}

// cancel comment reply link
#cancel-comment-reply {
	a {}
}

// logged in comments
.comments-logged-in-as {}

// allowed tags
#allowed_tags {
	margin: 1.5em 10px 0.7335em 0;
}

// No comments
.nocomments {
	margin: 0 20px 1.1em;
}

/*********************
SIDEBARS & ASIDES
*********************/
.sidebar {
}

#searchsubmit {
}

.widgettitle {
}

.widget {
	ul {
		margin: 0;

		li {
			list-style: none;

			&:first-child {}

			&:last-child {}

			a {}

			// deep nesting
			ul {}

		}
	}
}

/*********************
BANNERS AFILIACIO
*********************/

.social-afiliations {

	background-color: $sand;
	min-height: 300px;
	display: block;

	.large-6.columns {

		height: 100px;

		text-align: center;
		margin: 2rem 0;
	}

	.columns.in {
		background-color: $white;
		margin: 2rem 0;
		padding: 2rem;
		min-height: 150px;
		position: relative;
	}

	p {
		font-family: "tit_bdbold";
		font-size: 1.25rem;
		padding-top: 1rem;
	}

	ul {
		list-style-type: none;
		margin: 0;
		padding-top: 1rem;
	}

	ul li {
		display: inline-block;
	}

	span {
		text-indent: inherit;
		padding: 1rem;
		font-size: 2rem;
	}
	span.icon-arrow-right {
		line-height: 1;
		font-size: 3rem;
		vertical-align: middle;
	}
}

.social-walls {
	display: block;
	min-height: 150px;
}

/*********************
FOOTER STYLES
*********************/
.cont-footer-2 {
    background: #2a2a2a;
}

.footer-2 {
    background: #2a2a2a;
    padding: 20px 0 17px 0;

		p, a {
    color: #efefef;
		margin-bottom: 0px;
}

}

// @media (min-width: 576px;) {
.contacta-footer {
    border-right: 1px solid #F19039;
    text-align: right;
		padding-right: 20px !important;
}

.copyright-footer {

    text-align: left;
		padding-left: 20px !important;
}

// }


.footer {
	clear: both;
	margin-top: 0;
	text-align: center;
	background-color: #f3eee4;
	img {
		width: 260px;
		height: auto;
		margin: 2rem auto;
	}
}

/*********************
FOUNDATION STYLES
*********************/

.column, .columns {
	padding-left: 0.4687rem;
	padding-right: 0.4687rem;
}

.content .row .row {
	padding-left: 0;
	padding-right: 0;
}

.contain-to-grid {
	width: 100%;
	display: block;
}

.contain-to-grid::before, .contain-to-grid::after {
	content: " ";
  display: table;
	clear: both;
}

/*********************
Inici
*********************/
.blog {
	background-color: $choco-soft;
	h2 {
		font-family: "tit_bdbold";
		font-weight: normal;
		letter-spacing: -1px;
		line-height: 1.1;
		font-size: 2rem;
	}
	h2 a {
		color: #4A4A4A;
	}
}

.blog .large-12 {
	padding-left: 0;
	padding-right: 0;

}

.page-template-template-blog .blog {
	background-color: $white;
}

/* PAGE TEMPLATE QUI SOM */

.page-template-template-queespamapam {

	section.entry-content img.aligncenter.size-full {
		width: 80px;
		height: auto;
		clear: both;
		float: none;
		display: block;
		text-align: center;
		margin: 40px auto 0 auto;
	}

	article h2 {
		clear: both;
		float: none;
		color: $purple;
		margin-top: 2rem;
		display: block;
	}

	article h3 {
		font-size: 1.5rem;
		margin: 0 auto;
		margin-bottom: 1rem;
		width: 80%;
		clear: both;
	}

	article h1, article h2, article h3 {
		text-align: center;
	}

	article p {
		width: 50%;
		margin: 1rem auto;
		padding: 0 1rem;
	}

	article img {
		margin: 0 auto 2rem auto;
	}

	article hr {
		margin: 2rem auto;
	}

}

.home .blog .blog, .page-template-template-blog .blog {
	display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
	flex-wrap: nowrap;
	flex-flow: row wrap;
	 article {
		margin: 5px;
	 }
}

.home #inner-content > #main {
	margin-top: 0px;
	background-color: #f3eee4;
	padding-top: 10px;
}

.home #inner-content > #main > .row {
	background-color: #f3eee4;
	margin-left: 0;
	margin-right:0;
	padding: 1rem;
	padding-bottom: 0;
	padding-top: 0;
}

.home #inner-content > #main.special-margin {
	margin-top: 490px;
}

.article-header img {
	margin-bottom: 1rem;
}

.article-header h1.page-title {
	display: none;
}

.page-template-default .article-header h1.page-title {
	display: block;
}

.box-01, .box-02, .box-03 {
	padding: 1rem 0;
	margin: 2rem auto;
}

.box-01 {
	background-color: $green;
	color: $white;
	display: inline-block;
	position: relative;

	p {
	 font-family:"titsemibold";
	 color: $white;
	 margin: 0;
   position: absolute;
   top: 50%;
   transform: translate(0, -50%);
	 width: 40%;
	 display: block;
	 padding-left: 4px;
	}

	span.icon-arrow-right {
		position: absolute;
		right: 8px;
		top: 20%;
		font-size: 3rem;
	}

	a span.icon-arrow-right {
		color: $white;
	}

	h2 a {
		color: $white;
		display: block;
	}
}

.box-02 {
	text-align: left;
	display: inline-block;
	position: relative;
	h3 {
		color: $orange;
		font-size: 1.75rem;
		margin-bottom: 2rem;
	}
	p {
		font-size: 1.25rem;
	}
}

.box-03 {
	background-color: $purple;
	color: $white;
	display: inline-block;
	position: relative;
	p {
		font-family:"titsemibold";
		color: $white;
		margin: 0;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
		padding-left: 4px;
	}
	h2 a {
		color: $white;
		display: block;
	}
	span.icon-arrow-right {
		position: absolute;
		right: 8px;
		top: 20%;
		font-size: 3rem;
	}
	a span.icon-arrow-right {
		color: $white
	}
}

.large-6.columns.banner {
	padding: 0;
}

.comunitat.banner {
	h4 {
		width: 80%;
		color: $white;
	}
	p a {
		font-size: 2rem;
		color: $purple;
	}

	a span.icon-arrow-right {
		font-size: 5rem;
		color: $purple;
		position: absolute;
		right: 5%;
		top: 45%;
		vertical-align: middle;
	}
}

.comunitat.banner, .xinxeta.banner {
	min-height: 430px;
	position: relative;
	margin: 2rem 0;
	div {
		margin: 0 auto;
		padding: 1rem;
    position: absolute;
    top: 50%;
		left:25%;
    transform: translate(0, -50%);
		width: 60%
	}
	p, h3 {
		color:$white;
	}
	p {
		font-family: "tit_bdbold";
		font-size: 1rem;
	}
	h3 {
		font-family: "stencil";
		font-size: 4rem;
	}
}

.comunitat.banner {
	margin-bottom: 0;
}

.bloc-xinxeta {
	background-color: $sand;
	padding: 1rem;
	display: flex;
	position: relative;
	height: 100%;
	width: 100%;
}
.comunitat {
	h3.title{
		margin-top: 0.9rem;
	}
}
img.xinxetaWhite {
	background-color: white;
	border-radius: 50%;
	width: 265px;
	padding: 65px;
}
img.xinxeta100 {
	border-radius: 50%;
	width: 100%;
}
/*********************
WIDGETS
*********************/

.widget {
	margin: 2rem 0;

	h4.widgettitle {
		font-size: 1rem;
		color: $purple;

	}

	.tagcloud {
		a {
			padding-right: 6px;
		}

		a.tag-link-position-1 {
			font-size: 1.5rem !important;
		}
		a.tag-link-position-2 {
			font-size: 1.25rem !important;
		}
		a.tag-link-position-3 {
			font-size: 1rem !important;
		}
		a.tag-link-position-4 {
			font-size: .875rem !important;
		}
	}
}

/***************************
blog
***************************/

.single-post {
		h1.entry-title {
		font-family: "tit_bdbold";
		color: $grey;
		font-size: 2rem;
		width: 100%;
		display: block;
	}
}

/*********************
MAP STYLES
*********************/

.buttons-on-map {
	position: absolute;
	right: 4rem;
	z-index: 998;
	width: auto;
	max-width: 280px;

	a.button {
		color: #fff;
		font-family: "titsemibold";
		padding-left: 3rem;
		padding-right: 3rem;
	}

	&.add-iniciativa {
		top: 33rem;

		span.icon-arrow-right {
			color: $white;
			font-size: 2rem;
			position: absolute;
			right: 4px;
			top:4px;
		}

		span.icon-xinxeta {
			color: $white;
			font-size: 2rem;
			position: absolute;
			left: 4px;
			top:4px;

		}
	}

	&.geolocalitzacio {
		top: 2rem;

		span.icon-ic_room_48px {
			color: $white;
			font-size: 2rem;
			position: absolute;
			left: 4px;
			top: 4px;
		}
	}

}

#map {
	width: 100%;
	height: 600px; /*470px*/
	background-color: #eee;
	position: relative;
	z-index: 0;
}

#map.special-zindex {
	z-index: -2;
	top:64px;
	position: fixed;
}

/*********************
PARRTICIPA
*********************/

.participa {

	.row.out {
		padding: 1rem;
		background-color: $choco-soft;
		margin: 2rem 0;
		-webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
		position: relative;
	}
.row.out.visualEffect {
	background-color: #FFDC70;
}

	img {
		width: 100px;
		height: auto;
		display: inline-block;
		vertical-align: middle;
	}
	h3 {
		display: inline-block;
		width: 80%;
		padding: 0 0 0 1rem;
		vertical-align: middle;
		a {
			display: block;
		}
	}
	p {
		display: inline-block;
		width: 80%;
		padding: 0 0 0 1rem;
		vertical-align: middle;
		 a {
			 color: $dark-gray;
			 display: block;
		 }
	}
	span {
		display: inline-block;
		vertical-align: middle;
		font-size: 4.5rem;
		padding: 1rem 0 1rem 2rem;
		color: $orange;
	}
}

/*********************
PLUGIN STYLES
*********************/
// Makes Gravity Forms play nice with Foundation Form styles
.gform_body ul {
    list-style: none outside none;
    margin: 0;
}

/* Generated by Font Squirrel (http://www.fontsquirrel.com) on October 15, 2014 */

@font-face {
    font-family: 'titbold_italic';
    src: url('../fonts/titillium-semibolditalic-webfont.eot');
    src: url('../fonts/titillium-semibolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/titillium-semibolditalic-webfont.woff2') format('woff2'),
         url('../fonts/titillium-semibolditalic-webfont.woff') format('woff'),
         url('../fonts/titillium-semibolditalic-webfont.ttf') format('truetype'),
         url('../fonts/titillium-semibolditalic-webfont.svg#titilliumbold_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'titregular';
    src: url('../fonts/titillium-regular-webfont.eot');
    src: url('../fonts/titillium-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/titillium-regular-webfont.woff2') format('woff2'),
         url('../fonts/titillium-regular-webfont.woff') format('woff'),
         url('../fonts/titillium-regular-webfont.ttf') format('truetype'),
         url('../fonts/titillium-regular-webfont.svg#titilliumregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'tititalic';
    src: url('../fonts/titillium-regularitalic-webfont.eot');
    src: url('../fonts/titillium-regularitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/titillium-regularitalic-webfont.woff2') format('woff2'),
         url('../fonts/titillium-regularitalic-webfont.woff') format('woff'),
         url('../fonts/titillium-regularitalic-webfont.ttf') format('truetype'),
         url('../fonts/titillium-regularitalic-webfont.svg#titilliumitalic') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'titsemibold';
    src: url('../fonts/titillium-semibold-webfont.eot');
    src: url('../fonts/titillium-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/titillium-semibold-webfont.woff2') format('woff2'),
         url('../fonts/titillium-semibold-webfont.woff') format('woff'),
         url('../fonts/titillium-semibold-webfont.ttf') format('truetype'),
         url('../fonts/titillium-semibold-webfont.svg#titilliumbold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'tit_bdbold';
    src: url('../fonts/titillium-bold-webfont.eot');
    src: url('../fonts/titillium-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/titillium-bold-webfont.woff2') format('woff2'),
         url('../fonts/titillium-bold-webfont.woff') format('woff'),
         url('../fonts/titillium-bold-webfont.ttf') format('truetype'),
         url('../fonts/titillium-bold-webfont.svg#titillium_bdbold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'tit_bdbold_italic';
    src: url('../fonts/titillium-bolditalic-webfont.eot');
    src: url('../fonts/titillium-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/titillium-bolditalic-webfont.woff2') format('woff2'),
         url('../fonts/titillium-bolditalic-webfont.woff') format('woff'),
         url('../fonts/titillium-bolditalic-webfont.ttf') format('truetype'),
         url('../fonts/titillium-bolditalic-webfont.svg#titillium_bdbold_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'stencil';
    src: url('../fonts/mkstencilsansblackpap-webfont.eot');
    src: url('../fonts/mkstencilsansblackpap-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/mkstencilsansblackpap-webfont.woff2') format('woff2'),
         url('../fonts/mkstencilsansblackpap-webfont.woff') format('woff'),
         url('../fonts/mkstencilsansblackpap-webfont.ttf') format('truetype'),
         url('../fonts/mkstencilsansblackpap-webfont.svg#mkstencilsansblackpapmedium') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'rubikblack';
    src: url('../fonts/rubik-black-webfont.eot');
    src: url('../fonts/rubik-black-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/rubik-black-webfont.woff2') format('woff2'),
         url('../fonts/rubik-black-webfont.woff') format('woff'),
         url('../fonts/rubik-black-webfont.ttf') format('truetype'),
         url('../fonts/rubik-black-webfont.svg#rubikblack') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'rubikblack_italic';
    src: url('../fonts/rubik-blackitalic-webfont.eot');
    src: url('../fonts/rubik-blackitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/rubik-blackitalic-webfont.woff2') format('woff2'),
         url('../fonts/rubik-blackitalic-webfont.woff') format('woff'),
         url('../fonts/rubik-blackitalic-webfont.ttf') format('truetype'),
         url('../fonts/rubik-blackitalic-webfont.svg#rubikblack_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'rubikbold';
    src: url('../fonts/rubik-bold-webfont.eot');
    src: url('../fonts/rubik-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/rubik-bold-webfont.woff2') format('woff2'),
         url('../fonts/rubik-bold-webfont.woff') format('woff'),
         url('../fonts/rubik-bold-webfont.ttf') format('truetype'),
         url('../fonts/rubik-bold-webfont.svg#rubikbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'rubikbold_italic';
    src: url('../fonts/rubik-bolditalic-webfont.eot');
    src: url('../fonts/rubik-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/rubik-bolditalic-webfont.woff2') format('woff2'),
         url('../fonts/rubik-bolditalic-webfont.woff') format('woff'),
         url('../fonts/rubik-bolditalic-webfont.ttf') format('truetype'),
         url('../fonts/rubik-bolditalic-webfont.svg#rubikbold_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?vg138q');
  src:  url('../fonts/icomoon.eot?vg138q#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?vg138q') format('truetype'),
    url('../fonts/icomoon.woff?vg138q') format('woff'),
    url('../fonts/icomoon.svg?vg138q#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-banca-etica:before, .icon-finances-etiques:before {
  content: "\e90e";
}
.icon-cc:before, .icon-programari-lliure:before {
  content: "\e90f";
}
.icon-comerc-just:before {
  content: "\e910";
}
.icon-democracioa-intern:before, .icon-democracia-interna:before {
  content: "\e911";
}
.icon-desenvolupa-personal:before, .icon-desenvolupament-personal:before {
  content: "\e913";
}
.icon-eficiencia-energetica:before {
  content: "\e914";
}
.icon-equitat-genero:before, .icon-equitat-de-genere:before {
  content: "\e915";
}
.icon-forquilla-salarial:before {
  content: "\e916";
}
.icon-integracio-social:before {
  content: "\e917";
}
.icon-intercooperacio:before {
  content: "\e918";
}
.icon-proximitat:before {
  content: "\e919";
}
.icon-residus:before, .icon-gestio-residus:before {
  content: "\e91a";
}
.icon-sostenibilitat:before, .icon-criteris-ecologics:before {
  content: "\e91b";
}
.icon-transparencia:before {
  content: "\e91c";
}

.icon-xinxeta:before {
  content: "\e905";
}
.icon-arrow-down:before {
  content: "\e909";
}
.icon-arrow-right:before {
  content: "\e90b";
}
.icon-puntos:before {
  content: "\e90c";
}
.icon-Find01:before {
  content: "\e90a";
}
.icon-icon-more:before {
  content: "\e900";
}
.icon-ic_room_48px:before {
  content: "\e908";
}
.icon-iconos-favorite-roca:before {
  content: "\e906";
}
.icon-iconos-user-roca:before {
  content: "\e907";
}
.icon-iconos-my-roca-arrow-down:before {
  content: "\e901";
}
.icon-iconos-my-roca-arrow-left:before {
  content: "\e902";
}
.icon-iconos-my-roca-arrow-right:before {
  content: "\e903";
}
.icon-iconos-my-roca-comparer:before {
  content: "\e904";
}
.icon-image:before {
  content: "\e90d";
}
.icon-play:before {
  content: "\e912";
}
.icon-file-empty:before {
  content: "\e924";
}
.icon-file-text2:before {
  content: "\e926";
}
.icon-clock2:before {
  content: "\e94f";
}
.icon-enlarge:before {
  content: "\e989";
}
.icon-menu:before {
  content: "\e9bd";
}
.icon-smile:before {
  content: "\e9e1";
}
.icon-play3:before {
  content: "\ea1c";
}
.icon-pause2:before {
  content: "\ea1d";
}
.icon-stop2:before {
  content: "\ea1e";
}
.icon-arrow-right2:before {
  content: "\ea3c";
}
.icon-arrow-down2:before {
  content: "\ea3e";
}
.icon-arrow-left2:before {
  content: "\ea40";
}
.icon-share2:before {
  content: "\ea82";
}
.icon-google-plus:before {
  content: "\ea8b";
}
.icon-google-plus3:before {
  content: "\ea8d";
}
.icon-facebook:before {
  content: "\ea90";
}
.icon-facebook2:before {
  content: "\ea91";
}
.icon-instagram:before {
  content: "\ea92";
}
.icon-telegram:before {
  content: "\ea95";
}
.icon-twitter:before {
  content: "\ea96";
}
.icon-rss:before {
  content: "\ea9b";
}
.icon-youtube:before {
  content: "\ea9d";
}
.icon-vimeo2:before {
  content: "\eaa1";
}
.icon-linkedin:before {
  content: "\eac9";
}
.icon-linkedin2:before {
  content: "\eaca";
}
.icon-pinterest:before {
  content: "\ead1";
}
.icon-pinterest2:before {
  content: "\ead2";
}
.icon-file-pdf:before {
  content: "\eadf";
}


/* Small only */
@media screen and (max-width: 39.9375em) {
	.circle {
		width: 160px!important;
		height: 160px!important;
	}
	.search-box-panel{
		left: 0px;
		top: 0px;
		width: 100%;
	}

	.single-title, h1.page-title {
    display: block;
    font-size: 2rem;
    width: 99%;
		text-align: center;
		margin: 1rem auto;
	}

	.link-to-map {
		display: block;
		width: 80%;
		clear: both;
		float: none;
		margin: 0 auto;
	}

	.menu-static.specialfixed .menu {
    margin: 0 auto;
    width: 99%;
	}

	section.entry-content h2 {
		font-size: 2.35rem;
	}

	.page-template-template-queespamapam article p {
    width: 90%;
	}

	.columns.center {
		float: none !important;
		margin: 0 auto;
		text-align: center;

		a {
			text-align: center;
			margin: 0 auto;
		}
	}

	.related p.semi-bold {
		text-align: center;
	}

	.column:last-child:not(:first-child), .columns:last-child:not(:first-child) {
		float: left;
	}

	.box-02 h3 {
		margin-top: 1rem;
	}

	.box-01 p, .box-03 p  {
		position: relative;
		top: inherit;
		left: inherit;
		display: block;
		translate: inherit;
		width: 100%;
		margin: 1rem;
	}

	.geo p {
		clear: both;
		float: none;
		text-align: center;
	}

	.comunitat.banner, .xinxeta.banner {
		min-height: 300px;
	}

	.comunitat.banner div, .xinxeta.banner div {
    left: 1%;
    margin: 0 auto;
    padding: 1rem;
    position: absolute;
    top: 1%;
    transform: translate(0px, -1%);
    width: 95%;
		}

		.comunitat.banner h3, .xinxeta.banner h3 {
			font-size: 2rem;
		}

		.header #top-bar-menu img {
			left: inherit;
			right: 2%;
		}

		.header #logo a img {
			width: 70%;
			float: left;
			padding-left: 15px;
		}

		.header #logo a {
			margin: 2px;
		}

		.header #lema {
			text-align: left;
			padding-left: 15px;
		}
	.bloc-xinxeta {
		display: block;
		min-height: 100vh;
		flex: 1;
	}
	.bloc-xinxeta-article{
		display: flex;
	}


	.participa img {
  width: auto;
  height: 70%;
  display: block;
  vertical-align: middle;
}

}

/* Medium and up 640 or wider */
@media screen and (min-width: 40em) {


}

/* Medium only 640 to 1024 */
@media screen and (min-width: 40em) and (max-width: 63.9375em) {
	.menu-static.specialfixed .menu {
    margin: 0 auto;
    width: 99%;
}

	section.entry-content h2 {
		font-size: 2.35rem;
	}

	.page-template-template-queespamapam article p {
		width: 90%;
}

	.columns.center {
		float: none !important;
		margin: 0 auto;
	}

	.column:last-child:not(:first-child), .columns:last-child:not(:first-child) {
		float: left;
	}

	.related p.semi-bold {
		text-align: center;
	}


		.box-01 p, .box-03 p  {
			position: relative;
			top: inherit;
			left: inherit;
			display: block;
			translate: inherit;
			width: 100%;
			margin: 1rem;
		}

		.geo p {
			clear: both;
			float: none;
			text-align: center;
		}

		.comunitat.banner, .xinxeta.banner {
			min-height: 300px;
		}

		.comunitat.banner div, .xinxeta.banner div {
	    left: 1%;
	    margin: 0 auto;
	    padding: 1rem;
	    position: absolute;
	    top: 1%;
	    transform: translate(0px, -1%);
	    width: 95%;
	}

	.comunitat.banner h3, .xinxeta.banner h3 {
		font-size: 2rem;
	}

	.box-02 h3 {
		margin-top: 1rem;
	}

	.header #top-bar-menu img {
		left: inherit;
		right: 2%;
	}

	.header #logo a img {
		width: 70%;
		float: left;
		padding-left: 15px;
	}

	.header #logo a {
		margin: 2px;
	}

	.header #lema {
		text-align: left;
		padding-left: 15px;
	}

}

/* Large and up 1024 or wider */
@media screen and (min-width: 64em) {


}

/* Large only */
@media screen and (min-width: 64em) and (max-width: 74.9375em) {


}

/*Xinxeta*/
.xinxeta-form{
	input[type="text"],
	input[type="url"],
	input[type="mail"],
	input[type="tel"],
	input[type="number"],
	textarea{
		background-color: white;
		width: 100%;
		height: 40px;
		border:none;
	}
	select {
		background-color: white;
		width: 100%;
		height: auto;
		border:none;
	}
	.button-submit{
		background-color: #1FCBA9;
		padding: 6px 20px;
		color: white;
		margin: 10px 0;
		text-align: center;
		i{
			vertical-align: middle;
			font-size: 37px;
		}
	}
	.radioButton {
		border: 1px solid $orange;
		padding: 20px 20px 1px;
		input[type="radio"]{
			border: 1px solid #fff;
			padding: 14px;
			background: white;
		}
		label{
			font-size: 20px;
			vertical-align: top;
			padding-right: 15px;
		}
	}
}
.xinxeta-background,.iniciativa-background,.voluntaria-background{
	height: 76vh;
	background-repeat: no-repeat;
	background-size:cover;
	margin-bottom: 1em;
}
.girar-180{
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	transform: rotate(180deg);
}
.button-large{
	width: 150px;
	text-align: center;
	font-size: 19px;
}
.border-left-celito::after{
	content: '';
	width: 13px;
	background-color:$purple;
	height: 28px;
	display: block;
	margin: -24px 0 0 -23px
}
.box-celitos {
  margin: 2rem 0;
  background-color: #FAF8F3;
  position: relative;
}
.box-celitos h1{
  color: #862CD0;
  font-family: "titsemibold",sans-serif;
  font-size: 2rem;
  width: 100%;
}
.cuadrado{
	width: 250px;
	height: 250px;
	background: #862CD0;
	color: white;
	text-align: center;
	padding: 32px;
	opacity: 0.75;
}
.circle{
	width: 210px;
	height: 210px;
	background: rgba(255, 255, 255, 0.79);
	border-radius: 50%;
	border: 11px solid rgba(239, 137, 19, 0.79);
	color: white;
	text-align: center;
	padding: 0px 0px;
	img{
		border-radius: 50%;
		width: 100%;
		height: 100%;
	}
	img.xinxetaComunitat{
		margin-top:17%;
		width: 60%;
		height: 60%;
	}
}

.triangle-up{
	height:50px;
	width:50px;
	position:relative;
	overflow:hidden;
}
.triangle-up:after{
	height:100%;
	width:100%;
	position:relative;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	transform: rotate(45deg);
	content:'';
	display:block;
	position:absolute;
	left:-75%;
	background-color:red;
	background-size:cover;
}
.margin-left-5{
	margin-left: 5px;
}
.margin-right-5{
	margin-right: 5px;
}
.margin-top-15{
	margin-top: 15px;
}
.padding-20{
	padding: 20px;
}
.padding-right-30 {
	padding-right: 30px;
}
span.search-home{
	font-size: 14px;
	position: absolute;
	right: 9px;
	top: 3px;
	img{
		width: 33px;
	}
}
input.searchText{
	border: none;
	background-color: white;
}
input.searchText:focus {
	border: none;
	background-color: white;
}
.background-transparent{
	background-color: rgba(255, 255, 255, 0.8);
	display: inline-block;
}
div.filter {
	img{
		width: 33px;
	}
	font-family: "titregular", sans-serif;
}
.searchSectors{
	line-height: 0px;
	input{
		width: 18px;
		height: 18px;
		float: left;
	}
	span{
		line-height: 16px;
		display: block;
		margin-left: 25px;
	}
}
ul#filters {
	list-style-type: none;
	float: left;
	width: 82%;
	margin-left: 70px;
	margin-top: -38px;
	li{
		float: left;
		padding: 7px;
		font-size: 16px;
		color: black;
	}
}
button#selFiltres{
	margin: 0 17px 12px;
	float: left;
	color: #a0a0a0;
	outline: none;
	font-size: 16px;
	cursor: pointer;
}
div.listSector{
	padding: 0 10px;
}

.overlay {
	background:transparent;
	position:relative;
	width:640px;
	height:480px; /* your iframe height */
	top:480px;  /* your iframe height */
	margin-top:-480px;  /* your iframe height */
	z-index:1;
}
.search-menu{
	float: right;
	width: 31px;
	margin-top: -35px;
	img{
		position: relative!important;
		top: 0 !important;
	}
}


/******************************************
ECONOMIA SOCIAL I SOLIDÀRIA - PAGE TEMPLATE
******************************************/
.upper-mar {
	padding: 1rem 0rem;
}

.ima-text {
	position: relative;
}


@media (min-width:640px) {
.txt-encima-ima {
	position: absolute;
	bottom: 0px;
	background-color: rgba(0,0,0,0.5);
	color: #fff;
	width: 100%;
	padding: 45px 0;
}
}

@media (max-width:639px) {
.txt-encima-ima {

	bottom: 0px;
	background-color: #000;
	color: #fff;
	width: 100%;
	padding: 45px 0;
}
}



.txt-destacado {
	font-family: "stencil";
	font-size: 1.2rem;
}

.linea-destacada {
	font-size: 1.7rem;
}

.parrafo-foto {
	font-size: 1.1rem;
	font-weight: 600;
}

.parrafo-g {
	font-size: 1.1rem;

}

.txt-grey {
	color: #4a4a4a;
}

.back-green {
	background-color: #1fcba9;
	color: #fff;
	padding: 30px;

	margin-top: 30px;
	position: relative
}

.col-dcha {

	 font-weight: 700;
}

@media (min-width:640px) {
.col-izq {
    border-right: 1px solid #efefef;
    padding: 0 20px;
}

.col-dcha {
    // padding-left: 40px;
		position: absolute;
	 left: 70%;
	 top: 50%;
	 transform: translate(-36%, -50%);
	 -webkit-transform: translate(-36%, -50%);
	 font-weight: 700;
}
}

.block-mercat {
    margin-top: 80px;
    font-size: 1.1rem;
		margin-bottom: 40px;
}

.mercat-left {
    font-size: 1.3rem;

		h4 {
    font-size: 2rem;
}
}


.back-orange {
	background-color: #F49339;
	margin-top: 30px;
	    padding-right: 0 !important;
}

.iniciatives-left {
	padding: 30px;
	p {
		font-size: 1.2rem;
		color: #fff;
	}
}

.iniciatives-right {
	    padding-right: 0 !important;
	img {
		float: right !important;
	}

}

/*************************************
AÑADIDAS A ORGANIZACIÓ - PAGE TEMPLATE
*************************************/
.back-grey {
	background-color: #faf8f3 !important;
	margin-top: 40px;

	padding: 60px 40px 0px 40px;

	h5 {
		font-size: 1.3rem;
	}

	img {
		padding-right: 30px;
		padding-top: 10px;
		margin-bottom: 20px;
	}
}

.back-grey-2 {
	background-color: #faf8f3 !important;
	margin-top: 10px;
	margin-bottom: 40px;
	padding: 40px;
	h5 {
		font-size: 1.3rem;
	}
}

.espais-block {
	p {
		font-size: 15px !important;
	}
}

h4.titol-espais {
    font-size: 1.5625rem;
}

.xinxeta-box {
	position: relative;
	background-color: #1fcba9;
	padding: 50px;
	p {
		color: #fff;
		font-size: 1.2rem;
		font-weight: 600;
	}

}

span.xin {
	background-image: url(/wp-content/themes/JointsWP-master/assets/images/xinxeta-nota.png);
position: absolute;
top: -84px;
z-index: 0;
width: 100px;
height: 113px;
left: 37%;
text-indent: -9999px;

}

/***********
FONT AWESOME
************/

/*!
 *  Font Awesome 4.7.0 by @davegandy - http://fontawesome.io - @fontawesome
 *  License - http://fontawesome.io/license (Font: SIL OFL 1.1, CSS: MIT License)
 */
/* FONT PATH
 * -------------------------- */
@font-face {
  font-family: 'FontAwesome';
  src: url('../fonts/fontawesome-webfont.eot?v=4.7.0');
  src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.7.0') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff2?v=4.7.0') format('woff2'), url('../fonts/fontawesome-webfont.woff?v=4.7.0') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.7.0') format('truetype'), url('../fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* makes the font 33% larger relative to the icon container */
.fa-lg {
  font-size: 1.33333333em;
  line-height: 0.75em;
  vertical-align: -15%;
}
.fa-2x {
  font-size: 2em;
}
.fa-3x {
  font-size: 3em;
}
.fa-4x {
  font-size: 4em;
}
.fa-5x {
  font-size: 5em;
}
.fa-fw {
  width: 1.28571429em;
  text-align: center;
}
.fa-ul {
  padding-left: 0;
  margin-left: 2.14285714em;
  list-style-type: none;
}
.fa-ul > li {
  position: relative;
}
.fa-li {
  position: absolute;
  left: -2.14285714em;
  width: 2.14285714em;
  top: 0.14285714em;
  text-align: center;
}
.fa-li.fa-lg {
  left: -1.85714286em;
}
.fa-border {
  padding: .2em .25em .15em;
  border: solid 0.08em #eeeeee;
  border-radius: .1em;
}
.fa-pull-left {
  float: left;
}
.fa-pull-right {
  float: right;
}
.fa.fa-pull-left {
  margin-right: .3em;
}
.fa.fa-pull-right {
  margin-left: .3em;
}
/* Deprecated as of 4.4.0 */
.pull-right {
  float: right;
}
.pull-left {
  float: left;
}
.fa.pull-left {
  margin-right: .3em;
}
.fa.pull-right {
  margin-left: .3em;
}
.fa-spin {
  -webkit-animation: fa-spin 2s infinite linear;
  animation: fa-spin 2s infinite linear;
}
.fa-pulse {
  -webkit-animation: fa-spin 1s infinite steps(8);
  animation: fa-spin 1s infinite steps(8);
}
@-webkit-keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
.fa-rotate-90 {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=1)";
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}
.fa-rotate-180 {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=2)";
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
.fa-rotate-270 {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=3)";
  -webkit-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
}
.fa-flip-horizontal {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=0, mirror=1)";
  -webkit-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  transform: scale(-1, 1);
}
.fa-flip-vertical {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=2, mirror=1)";
  -webkit-transform: scale(1, -1);
  -ms-transform: scale(1, -1);
  transform: scale(1, -1);
}
:root .fa-rotate-90,
:root .fa-rotate-180,
:root .fa-rotate-270,
:root .fa-flip-horizontal,
:root .fa-flip-vertical {
  filter: none;
}
.fa-stack {
  position: relative;
  display: inline-block;
  width: 2em;
  height: 2em;
  line-height: 2em;
  vertical-align: middle;
}
.fa-stack-1x,
.fa-stack-2x {
  position: absolute;
  left: 0;
  width: 100%;
  text-align: center;
}
.fa-stack-1x {
  line-height: inherit;
}
.fa-stack-2x {
  font-size: 2em;
}
.fa-inverse {
  color: #ffffff;
}
/* Font Awesome uses the Unicode Private Use Area (PUA) to ensure screen
   readers do not read off random characters that represent icons */
.fa-glass:before {
  content: "\f000";
}
.fa-music:before {
  content: "\f001";
}
.fa-search:before {
  content: "\f002";
}
.fa-envelope-o:before {
  content: "\f003";
}
.fa-heart:before {
  content: "\f004";
}
.fa-star:before {
  content: "\f005";
}
.fa-star-o:before {
  content: "\f006";
}
.fa-user:before {
  content: "\f007";
}
.fa-film:before {
  content: "\f008";
}
.fa-th-large:before {
  content: "\f009";
}
.fa-th:before {
  content: "\f00a";
}
.fa-th-list:before {
  content: "\f00b";
}
.fa-check:before {
  content: "\f00c";
}
.fa-remove:before,
.fa-close:before,
.fa-times:before {
  content: "\f00d";
}
.fa-search-plus:before {
  content: "\f00e";
}
.fa-search-minus:before {
  content: "\f010";
}
.fa-power-off:before {
  content: "\f011";
}
.fa-signal:before {
  content: "\f012";
}
.fa-gear:before,
.fa-cog:before {
  content: "\f013";
}
.fa-trash-o:before {
  content: "\f014";
}
.fa-home:before {
  content: "\f015";
}
.fa-file-o:before {
  content: "\f016";
}
.fa-clock-o:before {
  content: "\f017";
}
.fa-road:before {
  content: "\f018";
}
.fa-download:before {
  content: "\f019";
}
.fa-arrow-circle-o-down:before {
  content: "\f01a";
}
.fa-arrow-circle-o-up:before {
  content: "\f01b";
}
.fa-inbox:before {
  content: "\f01c";
}
.fa-play-circle-o:before {
  content: "\f01d";
}
.fa-rotate-right:before,
.fa-repeat:before {
  content: "\f01e";
}
.fa-refresh:before {
  content: "\f021";
}
.fa-list-alt:before {
  content: "\f022";
}
.fa-lock:before {
  content: "\f023";
}
.fa-flag:before {
  content: "\f024";
}
.fa-headphones:before {
  content: "\f025";
}
.fa-volume-off:before {
  content: "\f026";
}
.fa-volume-down:before {
  content: "\f027";
}
.fa-volume-up:before {
  content: "\f028";
}
.fa-qrcode:before {
  content: "\f029";
}
.fa-barcode:before {
  content: "\f02a";
}
.fa-tag:before {
  content: "\f02b";
}
.fa-tags:before {
  content: "\f02c";
}
.fa-book:before {
  content: "\f02d";
}
.fa-bookmark:before {
  content: "\f02e";
}
.fa-print:before {
  content: "\f02f";
}
.fa-camera:before {
  content: "\f030";
}
.fa-font:before {
  content: "\f031";
}
.fa-bold:before {
  content: "\f032";
}
.fa-italic:before {
  content: "\f033";
}
.fa-text-height:before {
  content: "\f034";
}
.fa-text-width:before {
  content: "\f035";
}
.fa-align-left:before {
  content: "\f036";
}
.fa-align-center:before {
  content: "\f037";
}
.fa-align-right:before {
  content: "\f038";
}
.fa-align-justify:before {
  content: "\f039";
}
.fa-list:before {
  content: "\f03a";
}
.fa-dedent:before,
.fa-outdent:before {
  content: "\f03b";
}
.fa-indent:before {
  content: "\f03c";
}
.fa-video-camera:before {
  content: "\f03d";
}
.fa-photo:before,
.fa-image:before,
.fa-picture-o:before {
  content: "\f03e";
}
.fa-pencil:before {
  content: "\f040";
}
.fa-map-marker:before {
  content: "\f041";
}
.fa-adjust:before {
  content: "\f042";
}
.fa-tint:before {
  content: "\f043";
}
.fa-edit:before,
.fa-pencil-square-o:before {
  content: "\f044";
}
.fa-share-square-o:before {
  content: "\f045";
}
.fa-check-square-o:before {
  content: "\f046";
}
.fa-arrows:before {
  content: "\f047";
}
.fa-step-backward:before {
  content: "\f048";
}
.fa-fast-backward:before {
  content: "\f049";
}
.fa-backward:before {
  content: "\f04a";
}
.fa-play:before {
  content: "\f04b";
}
.fa-pause:before {
  content: "\f04c";
}
.fa-stop:before {
  content: "\f04d";
}
.fa-forward:before {
  content: "\f04e";
}
.fa-fast-forward:before {
  content: "\f050";
}
.fa-step-forward:before {
  content: "\f051";
}
.fa-eject:before {
  content: "\f052";
}
.fa-chevron-left:before {
  content: "\f053";
}
.fa-chevron-right:before {
  content: "\f054";
}
.fa-plus-circle:before {
  content: "\f055";
}
.fa-minus-circle:before {
  content: "\f056";
}
.fa-times-circle:before {
  content: "\f057";
}
.fa-check-circle:before {
  content: "\f058";
}
.fa-question-circle:before {
  content: "\f059";
}
.fa-info-circle:before {
  content: "\f05a";
}
.fa-crosshairs:before {
  content: "\f05b";
}
.fa-times-circle-o:before {
  content: "\f05c";
}
.fa-check-circle-o:before {
  content: "\f05d";
}
.fa-ban:before {
  content: "\f05e";
}
.fa-arrow-left:before {
  content: "\f060";
}
.fa-arrow-right:before {
  content: "\f061";
}
.fa-arrow-up:before {
  content: "\f062";
}
.fa-arrow-down:before {
  content: "\f063";
}
.fa-mail-forward:before,
.fa-share:before {
  content: "\f064";
}
.fa-expand:before {
  content: "\f065";
}
.fa-compress:before {
  content: "\f066";
}
.fa-plus:before {
  content: "\f067";
}
.fa-minus:before {
  content: "\f068";
}
.fa-asterisk:before {
  content: "\f069";
}
.fa-exclamation-circle:before {
  content: "\f06a";
}
.fa-gift:before {
  content: "\f06b";
}
.fa-leaf:before {
  content: "\f06c";
}
.fa-fire:before {
  content: "\f06d";
}
.fa-eye:before {
  content: "\f06e";
}
.fa-eye-slash:before {
  content: "\f070";
}
.fa-warning:before,
.fa-exclamation-triangle:before {
  content: "\f071";
}
.fa-plane:before {
  content: "\f072";
}
.fa-calendar:before {
  content: "\f073";
}
.fa-random:before {
  content: "\f074";
}
.fa-comment:before {
  content: "\f075";
}
.fa-magnet:before {
  content: "\f076";
}
.fa-chevron-up:before {
  content: "\f077";
}
.fa-chevron-down:before {
  content: "\f078";
}
.fa-retweet:before {
  content: "\f079";
}
.fa-shopping-cart:before {
  content: "\f07a";
}
.fa-folder:before {
  content: "\f07b";
}
.fa-folder-open:before {
  content: "\f07c";
}
.fa-arrows-v:before {
  content: "\f07d";
}
.fa-arrows-h:before {
  content: "\f07e";
}
.fa-bar-chart-o:before,
.fa-bar-chart:before {
  content: "\f080";
}
.fa-twitter-square:before {
  content: "\f081";
}
.fa-facebook-square:before {
  content: "\f082";
}
.fa-camera-retro:before {
  content: "\f083";
}
.fa-key:before {
  content: "\f084";
}
.fa-gears:before,
.fa-cogs:before {
  content: "\f085";
}
.fa-comments:before {
  content: "\f086";
}
.fa-thumbs-o-up:before {
  content: "\f087";
}
.fa-thumbs-o-down:before {
  content: "\f088";
}
.fa-star-half:before {
  content: "\f089";
}
.fa-heart-o:before {
  content: "\f08a";
}
.fa-sign-out:before {
  content: "\f08b";
}
.fa-linkedin-square:before {
  content: "\f08c";
}
.fa-thumb-tack:before {
  content: "\f08d";
}
.fa-external-link:before {
  content: "\f08e";
}
.fa-sign-in:before {
  content: "\f090";
}
.fa-trophy:before {
  content: "\f091";
}
.fa-github-square:before {
  content: "\f092";
}
.fa-upload:before {
  content: "\f093";
}
.fa-lemon-o:before {
  content: "\f094";
}
.fa-phone:before {
  content: "\f095";
}
.fa-square-o:before {
  content: "\f096";
}
.fa-bookmark-o:before {
  content: "\f097";
}
.fa-phone-square:before {
  content: "\f098";
}
.fa-twitter:before {
  content: "\f099";
}
.fa-facebook-f:before,
.fa-facebook:before {
  content: "\f09a";
}
.fa-github:before {
  content: "\f09b";
}
.fa-unlock:before {
  content: "\f09c";
}
.fa-credit-card:before {
  content: "\f09d";
}
.fa-feed:before,
.fa-rss:before {
  content: "\f09e";
}
.fa-hdd-o:before {
  content: "\f0a0";
}
.fa-bullhorn:before {
  content: "\f0a1";
}
.fa-bell:before {
  content: "\f0f3";
}
.fa-certificate:before {
  content: "\f0a3";
}
.fa-hand-o-right:before {
  content: "\f0a4";
}
.fa-hand-o-left:before {
  content: "\f0a5";
}
.fa-hand-o-up:before {
  content: "\f0a6";
}
.fa-hand-o-down:before {
  content: "\f0a7";
}
.fa-arrow-circle-left:before {
  content: "\f0a8";
}
.fa-arrow-circle-right:before {
  content: "\f0a9";
}
.fa-arrow-circle-up:before {
  content: "\f0aa";
}
.fa-arrow-circle-down:before {
  content: "\f0ab";
}
.fa-globe:before {
  content: "\f0ac";
}
.fa-wrench:before {
  content: "\f0ad";
}
.fa-tasks:before {
  content: "\f0ae";
}
.fa-filter:before {
  content: "\f0b0";
}
.fa-briefcase:before {
  content: "\f0b1";
}
.fa-arrows-alt:before {
  content: "\f0b2";
}
.fa-group:before,
.fa-users:before {
  content: "\f0c0";
}
.fa-chain:before,
.fa-link:before {
  content: "\f0c1";
}
.fa-cloud:before {
  content: "\f0c2";
}
.fa-flask:before {
  content: "\f0c3";
}
.fa-cut:before,
.fa-scissors:before {
  content: "\f0c4";
}
.fa-copy:before,
.fa-files-o:before {
  content: "\f0c5";
}
.fa-paperclip:before {
  content: "\f0c6";
}
.fa-save:before,
.fa-floppy-o:before {
  content: "\f0c7";
}
.fa-square:before {
  content: "\f0c8";
}
.fa-navicon:before,
.fa-reorder:before,
.fa-bars:before {
  content: "\f0c9";
}
.fa-list-ul:before {
  content: "\f0ca";
}
.fa-list-ol:before {
  content: "\f0cb";
}
.fa-strikethrough:before {
  content: "\f0cc";
}
.fa-underline:before {
  content: "\f0cd";
}
.fa-table:before {
  content: "\f0ce";
}
.fa-magic:before {
  content: "\f0d0";
}
.fa-truck:before {
  content: "\f0d1";
}
.fa-pinterest:before {
  content: "\f0d2";
}
.fa-pinterest-square:before {
  content: "\f0d3";
}
.fa-google-plus-square:before {
  content: "\f0d4";
}
.fa-google-plus:before {
  content: "\f0d5";
}
.fa-money:before {
  content: "\f0d6";
}
.fa-caret-down:before {
  content: "\f0d7";
}
.fa-caret-up:before {
  content: "\f0d8";
}
.fa-caret-left:before {
  content: "\f0d9";
}
.fa-caret-right:before {
  content: "\f0da";
}
.fa-columns:before {
  content: "\f0db";
}
.fa-unsorted:before,
.fa-sort:before {
  content: "\f0dc";
}
.fa-sort-down:before,
.fa-sort-desc:before {
  content: "\f0dd";
}
.fa-sort-up:before,
.fa-sort-asc:before {
  content: "\f0de";
}
.fa-envelope:before {
  content: "\f0e0";
}
.fa-linkedin:before {
  content: "\f0e1";
}
.fa-rotate-left:before,
.fa-undo:before {
  content: "\f0e2";
}
.fa-legal:before,
.fa-gavel:before {
  content: "\f0e3";
}
.fa-dashboard:before,
.fa-tachometer:before {
  content: "\f0e4";
}
.fa-comment-o:before {
  content: "\f0e5";
}
.fa-comments-o:before {
  content: "\f0e6";
}
.fa-flash:before,
.fa-bolt:before {
  content: "\f0e7";
}
.fa-sitemap:before {
  content: "\f0e8";
}
.fa-umbrella:before {
  content: "\f0e9";
}
.fa-paste:before,
.fa-clipboard:before {
  content: "\f0ea";
}
.fa-lightbulb-o:before {
  content: "\f0eb";
}
.fa-exchange:before {
  content: "\f0ec";
}
.fa-cloud-download:before {
  content: "\f0ed";
}
.fa-cloud-upload:before {
  content: "\f0ee";
}
.fa-user-md:before {
  content: "\f0f0";
}
.fa-stethoscope:before {
  content: "\f0f1";
}
.fa-suitcase:before {
  content: "\f0f2";
}
.fa-bell-o:before {
  content: "\f0a2";
}
.fa-coffee:before {
  content: "\f0f4";
}
.fa-cutlery:before {
  content: "\f0f5";
}
.fa-file-text-o:before {
  content: "\f0f6";
}
.fa-building-o:before {
  content: "\f0f7";
}
.fa-hospital-o:before {
  content: "\f0f8";
}
.fa-ambulance:before {
  content: "\f0f9";
}
.fa-medkit:before {
  content: "\f0fa";
}
.fa-fighter-jet:before {
  content: "\f0fb";
}
.fa-beer:before {
  content: "\f0fc";
}
.fa-h-square:before {
  content: "\f0fd";
}
.fa-plus-square:before {
  content: "\f0fe";
}
.fa-angle-double-left:before {
  content: "\f100";
}
.fa-angle-double-right:before {
  content: "\f101";
}
.fa-angle-double-up:before {
  content: "\f102";
}
.fa-angle-double-down:before {
  content: "\f103";
}
.fa-angle-left:before {
  content: "\f104";
}
.fa-angle-right:before {
  content: "\f105";
}
.fa-angle-up:before {
  content: "\f106";
}
.fa-angle-down:before {
  content: "\f107";
}
.fa-desktop:before {
  content: "\f108";
}
.fa-laptop:before {
  content: "\f109";
}
.fa-tablet:before {
  content: "\f10a";
}
.fa-mobile-phone:before,
.fa-mobile:before {
  content: "\f10b";
}
.fa-circle-o:before {
  content: "\f10c";
}
.fa-quote-left:before {
  content: "\f10d";
}
.fa-quote-right:before {
  content: "\f10e";
}
.fa-spinner:before {
  content: "\f110";
}
.fa-circle:before {
  content: "\f111";
}
.fa-mail-reply:before,
.fa-reply:before {
  content: "\f112";
}
.fa-github-alt:before {
  content: "\f113";
}
.fa-folder-o:before {
  content: "\f114";
}
.fa-folder-open-o:before {
  content: "\f115";
}
.fa-smile-o:before {
  content: "\f118";
}
.fa-frown-o:before {
  content: "\f119";
}
.fa-meh-o:before {
  content: "\f11a";
}
.fa-gamepad:before {
  content: "\f11b";
}
.fa-keyboard-o:before {
  content: "\f11c";
}
.fa-flag-o:before {
  content: "\f11d";
}
.fa-flag-checkered:before {
  content: "\f11e";
}
.fa-terminal:before {
  content: "\f120";
}
.fa-code:before {
  content: "\f121";
}
.fa-mail-reply-all:before,
.fa-reply-all:before {
  content: "\f122";
}
.fa-star-half-empty:before,
.fa-star-half-full:before,
.fa-star-half-o:before {
  content: "\f123";
}
.fa-location-arrow:before {
  content: "\f124";
}
.fa-crop:before {
  content: "\f125";
}
.fa-code-fork:before {
  content: "\f126";
}
.fa-unlink:before,
.fa-chain-broken:before {
  content: "\f127";
}
.fa-question:before {
  content: "\f128";
}
.fa-info:before {
  content: "\f129";
}
.fa-exclamation:before {
  content: "\f12a";
}
.fa-superscript:before {
  content: "\f12b";
}
.fa-subscript:before {
  content: "\f12c";
}
.fa-eraser:before {
  content: "\f12d";
}
.fa-puzzle-piece:before {
  content: "\f12e";
}
.fa-microphone:before {
  content: "\f130";
}
.fa-microphone-slash:before {
  content: "\f131";
}
.fa-shield:before {
  content: "\f132";
}
.fa-calendar-o:before {
  content: "\f133";
}
.fa-fire-extinguisher:before {
  content: "\f134";
}
.fa-rocket:before {
  content: "\f135";
}
.fa-maxcdn:before {
  content: "\f136";
}
.fa-chevron-circle-left:before {
  content: "\f137";
}
.fa-chevron-circle-right:before {
  content: "\f138";
}
.fa-chevron-circle-up:before {
  content: "\f139";
}
.fa-chevron-circle-down:before {
  content: "\f13a";
}
.fa-html5:before {
  content: "\f13b";
}
.fa-css3:before {
  content: "\f13c";
}
.fa-anchor:before {
  content: "\f13d";
}
.fa-unlock-alt:before {
  content: "\f13e";
}
.fa-bullseye:before {
  content: "\f140";
}
.fa-ellipsis-h:before {
  content: "\f141";
}
.fa-ellipsis-v:before {
  content: "\f142";
}
.fa-rss-square:before {
  content: "\f143";
}
.fa-play-circle:before {
  content: "\f144";
}
.fa-ticket:before {
  content: "\f145";
}
.fa-minus-square:before {
  content: "\f146";
}
.fa-minus-square-o:before {
  content: "\f147";
}
.fa-level-up:before {
  content: "\f148";
}
.fa-level-down:before {
  content: "\f149";
}
.fa-check-square:before {
  content: "\f14a";
}
.fa-pencil-square:before {
  content: "\f14b";
}
.fa-external-link-square:before {
  content: "\f14c";
}
.fa-share-square:before {
  content: "\f14d";
}
.fa-compass:before {
  content: "\f14e";
}
.fa-toggle-down:before,
.fa-caret-square-o-down:before {
  content: "\f150";
}
.fa-toggle-up:before,
.fa-caret-square-o-up:before {
  content: "\f151";
}
.fa-toggle-right:before,
.fa-caret-square-o-right:before {
  content: "\f152";
}
.fa-euro:before,
.fa-eur:before {
  content: "\f153";
}
.fa-gbp:before {
  content: "\f154";
}
.fa-dollar:before,
.fa-usd:before {
  content: "\f155";
}
.fa-rupee:before,
.fa-inr:before {
  content: "\f156";
}
.fa-cny:before,
.fa-rmb:before,
.fa-yen:before,
.fa-jpy:before {
  content: "\f157";
}
.fa-ruble:before,
.fa-rouble:before,
.fa-rub:before {
  content: "\f158";
}
.fa-won:before,
.fa-krw:before {
  content: "\f159";
}
.fa-bitcoin:before,
.fa-btc:before {
  content: "\f15a";
}
.fa-file:before {
  content: "\f15b";
}
.fa-file-text:before {
  content: "\f15c";
}
.fa-sort-alpha-asc:before {
  content: "\f15d";
}
.fa-sort-alpha-desc:before {
  content: "\f15e";
}
.fa-sort-amount-asc:before {
  content: "\f160";
}
.fa-sort-amount-desc:before {
  content: "\f161";
}
.fa-sort-numeric-asc:before {
  content: "\f162";
}
.fa-sort-numeric-desc:before {
  content: "\f163";
}
.fa-thumbs-up:before {
  content: "\f164";
}
.fa-thumbs-down:before {
  content: "\f165";
}
.fa-youtube-square:before {
  content: "\f166";
}
.fa-youtube:before {
  content: "\f167";
}
.fa-xing:before {
  content: "\f168";
}
.fa-xing-square:before {
  content: "\f169";
}
.fa-youtube-play:before {
  content: "\f16a";
}
.fa-dropbox:before {
  content: "\f16b";
}
.fa-stack-overflow:before {
  content: "\f16c";
}
.fa-instagram:before {
  content: "\f16d";
}
.fa-flickr:before {
  content: "\f16e";
}
.fa-adn:before {
  content: "\f170";
}
.fa-bitbucket:before {
  content: "\f171";
}
.fa-bitbucket-square:before {
  content: "\f172";
}
.fa-tumblr:before {
  content: "\f173";
}
.fa-tumblr-square:before {
  content: "\f174";
}
.fa-long-arrow-down:before {
  content: "\f175";
}
.fa-long-arrow-up:before {
  content: "\f176";
}
.fa-long-arrow-left:before {
  content: "\f177";
}
.fa-long-arrow-right:before {
  content: "\f178";
}
.fa-apple:before {
  content: "\f179";
}
.fa-windows:before {
  content: "\f17a";
}
.fa-android:before {
  content: "\f17b";
}
.fa-linux:before {
  content: "\f17c";
}
.fa-dribbble:before {
  content: "\f17d";
}
.fa-skype:before {
  content: "\f17e";
}
.fa-foursquare:before {
  content: "\f180";
}
.fa-trello:before {
  content: "\f181";
}
.fa-female:before {
  content: "\f182";
}
.fa-male:before {
  content: "\f183";
}
.fa-gittip:before,
.fa-gratipay:before {
  content: "\f184";
}
.fa-sun-o:before {
  content: "\f185";
}
.fa-moon-o:before {
  content: "\f186";
}
.fa-archive:before {
  content: "\f187";
}
.fa-bug:before {
  content: "\f188";
}
.fa-vk:before {
  content: "\f189";
}
.fa-weibo:before {
  content: "\f18a";
}
.fa-renren:before {
  content: "\f18b";
}
.fa-pagelines:before {
  content: "\f18c";
}
.fa-stack-exchange:before {
  content: "\f18d";
}
.fa-arrow-circle-o-right:before {
  content: "\f18e";
}
.fa-arrow-circle-o-left:before {
  content: "\f190";
}
.fa-toggle-left:before,
.fa-caret-square-o-left:before {
  content: "\f191";
}
.fa-dot-circle-o:before {
  content: "\f192";
}
.fa-wheelchair:before {
  content: "\f193";
}
.fa-vimeo-square:before {
  content: "\f194";
}
.fa-turkish-lira:before,
.fa-try:before {
  content: "\f195";
}
.fa-plus-square-o:before {
  content: "\f196";
}
.fa-space-shuttle:before {
  content: "\f197";
}
.fa-slack:before {
  content: "\f198";
}
.fa-envelope-square:before {
  content: "\f199";
}
.fa-wordpress:before {
  content: "\f19a";
}
.fa-openid:before {
  content: "\f19b";
}
.fa-institution:before,
.fa-bank:before,
.fa-university:before {
  content: "\f19c";
}
.fa-mortar-board:before,
.fa-graduation-cap:before {
  content: "\f19d";
}
.fa-yahoo:before {
  content: "\f19e";
}
.fa-google:before {
  content: "\f1a0";
}
.fa-reddit:before {
  content: "\f1a1";
}
.fa-reddit-square:before {
  content: "\f1a2";
}
.fa-stumbleupon-circle:before {
  content: "\f1a3";
}
.fa-stumbleupon:before {
  content: "\f1a4";
}
.fa-delicious:before {
  content: "\f1a5";
}
.fa-digg:before {
  content: "\f1a6";
}
.fa-pied-piper-pp:before {
  content: "\f1a7";
}
.fa-pied-piper-alt:before {
  content: "\f1a8";
}
.fa-drupal:before {
  content: "\f1a9";
}
.fa-joomla:before {
  content: "\f1aa";
}
.fa-language:before {
  content: "\f1ab";
}
.fa-fax:before {
  content: "\f1ac";
}
.fa-building:before {
  content: "\f1ad";
}
.fa-child:before {
  content: "\f1ae";
}
.fa-paw:before {
  content: "\f1b0";
}
.fa-spoon:before {
  content: "\f1b1";
}
.fa-cube:before {
  content: "\f1b2";
}
.fa-cubes:before {
  content: "\f1b3";
}
.fa-behance:before {
  content: "\f1b4";
}
.fa-behance-square:before {
  content: "\f1b5";
}
.fa-steam:before {
  content: "\f1b6";
}
.fa-steam-square:before {
  content: "\f1b7";
}
.fa-recycle:before {
  content: "\f1b8";
}
.fa-automobile:before,
.fa-car:before {
  content: "\f1b9";
}
.fa-cab:before,
.fa-taxi:before {
  content: "\f1ba";
}
.fa-tree:before {
  content: "\f1bb";
}
.fa-spotify:before {
  content: "\f1bc";
}
.fa-deviantart:before {
  content: "\f1bd";
}
.fa-soundcloud:before {
  content: "\f1be";
}
.fa-database:before {
  content: "\f1c0";
}
.fa-file-pdf-o:before {
  content: "\f1c1";
}
.fa-file-word-o:before {
  content: "\f1c2";
}
.fa-file-excel-o:before {
  content: "\f1c3";
}
.fa-file-powerpoint-o:before {
  content: "\f1c4";
}
.fa-file-photo-o:before,
.fa-file-picture-o:before,
.fa-file-image-o:before {
  content: "\f1c5";
}
.fa-file-zip-o:before,
.fa-file-archive-o:before {
  content: "\f1c6";
}
.fa-file-sound-o:before,
.fa-file-audio-o:before {
  content: "\f1c7";
}
.fa-file-movie-o:before,
.fa-file-video-o:before {
  content: "\f1c8";
}
.fa-file-code-o:before {
  content: "\f1c9";
}
.fa-vine:before {
  content: "\f1ca";
}
.fa-codepen:before {
  content: "\f1cb";
}
.fa-jsfiddle:before {
  content: "\f1cc";
}
.fa-life-bouy:before,
.fa-life-buoy:before,
.fa-life-saver:before,
.fa-support:before,
.fa-life-ring:before {
  content: "\f1cd";
}
.fa-circle-o-notch:before {
  content: "\f1ce";
}
.fa-ra:before,
.fa-resistance:before,
.fa-rebel:before {
  content: "\f1d0";
}
.fa-ge:before,
.fa-empire:before {
  content: "\f1d1";
}
.fa-git-square:before {
  content: "\f1d2";
}
.fa-git:before {
  content: "\f1d3";
}
.fa-y-combinator-square:before,
.fa-yc-square:before,
.fa-hacker-news:before {
  content: "\f1d4";
}
.fa-tencent-weibo:before {
  content: "\f1d5";
}
.fa-qq:before {
  content: "\f1d6";
}
.fa-wechat:before,
.fa-weixin:before {
  content: "\f1d7";
}
.fa-send:before,
.fa-paper-plane:before {
  content: "\f1d8";
}
.fa-send-o:before,
.fa-paper-plane-o:before {
  content: "\f1d9";
}
.fa-history:before {
  content: "\f1da";
}
.fa-circle-thin:before {
  content: "\f1db";
}
.fa-header:before {
  content: "\f1dc";
}
.fa-paragraph:before {
  content: "\f1dd";
}
.fa-sliders:before {
  content: "\f1de";
}
.fa-share-alt:before {
  content: "\f1e0";
}
.fa-share-alt-square:before {
  content: "\f1e1";
}
.fa-bomb:before {
  content: "\f1e2";
}
.fa-soccer-ball-o:before,
.fa-futbol-o:before {
  content: "\f1e3";
}
.fa-tty:before {
  content: "\f1e4";
}
.fa-binoculars:before {
  content: "\f1e5";
}
.fa-plug:before {
  content: "\f1e6";
}
.fa-slideshare:before {
  content: "\f1e7";
}
.fa-twitch:before {
  content: "\f1e8";
}
.fa-yelp:before {
  content: "\f1e9";
}
.fa-newspaper-o:before {
  content: "\f1ea";
}
.fa-wifi:before {
  content: "\f1eb";
}
.fa-calculator:before {
  content: "\f1ec";
}
.fa-paypal:before {
  content: "\f1ed";
}
.fa-google-wallet:before {
  content: "\f1ee";
}
.fa-cc-visa:before {
  content: "\f1f0";
}
.fa-cc-mastercard:before {
  content: "\f1f1";
}
.fa-cc-discover:before {
  content: "\f1f2";
}
.fa-cc-amex:before {
  content: "\f1f3";
}
.fa-cc-paypal:before {
  content: "\f1f4";
}
.fa-cc-stripe:before {
  content: "\f1f5";
}
.fa-bell-slash:before {
  content: "\f1f6";
}
.fa-bell-slash-o:before {
  content: "\f1f7";
}
.fa-trash:before {
  content: "\f1f8";
}
.fa-copyright:before {
  content: "\f1f9";
}
.fa-at:before {
  content: "\f1fa";
}
.fa-eyedropper:before {
  content: "\f1fb";
}
.fa-paint-brush:before {
  content: "\f1fc";
}
.fa-birthday-cake:before {
  content: "\f1fd";
}
.fa-area-chart:before {
  content: "\f1fe";
}
.fa-pie-chart:before {
  content: "\f200";
}
.fa-line-chart:before {
  content: "\f201";
}
.fa-lastfm:before {
  content: "\f202";
}
.fa-lastfm-square:before {
  content: "\f203";
}
.fa-toggle-off:before {
  content: "\f204";
}
.fa-toggle-on:before {
  content: "\f205";
}
.fa-bicycle:before {
  content: "\f206";
}
.fa-bus:before {
  content: "\f207";
}
.fa-ioxhost:before {
  content: "\f208";
}
.fa-angellist:before {
  content: "\f209";
}
.fa-cc:before {
  content: "\f20a";
}
.fa-shekel:before,
.fa-sheqel:before,
.fa-ils:before {
  content: "\f20b";
}
.fa-meanpath:before {
  content: "\f20c";
}
.fa-buysellads:before {
  content: "\f20d";
}
.fa-connectdevelop:before {
  content: "\f20e";
}
.fa-dashcube:before {
  content: "\f210";
}
.fa-forumbee:before {
  content: "\f211";
}
.fa-leanpub:before {
  content: "\f212";
}
.fa-sellsy:before {
  content: "\f213";
}
.fa-shirtsinbulk:before {
  content: "\f214";
}
.fa-simplybuilt:before {
  content: "\f215";
}
.fa-skyatlas:before {
  content: "\f216";
}
.fa-cart-plus:before {
  content: "\f217";
}
.fa-cart-arrow-down:before {
  content: "\f218";
}
.fa-diamond:before {
  content: "\f219";
}
.fa-ship:before {
  content: "\f21a";
}
.fa-user-secret:before {
  content: "\f21b";
}
.fa-motorcycle:before {
  content: "\f21c";
}
.fa-street-view:before {
  content: "\f21d";
}
.fa-heartbeat:before {
  content: "\f21e";
}
.fa-venus:before {
  content: "\f221";
}
.fa-mars:before {
  content: "\f222";
}
.fa-mercury:before {
  content: "\f223";
}
.fa-intersex:before,
.fa-transgender:before {
  content: "\f224";
}
.fa-transgender-alt:before {
  content: "\f225";
}
.fa-venus-double:before {
  content: "\f226";
}
.fa-mars-double:before {
  content: "\f227";
}
.fa-venus-mars:before {
  content: "\f228";
}
.fa-mars-stroke:before {
  content: "\f229";
}
.fa-mars-stroke-v:before {
  content: "\f22a";
}
.fa-mars-stroke-h:before {
  content: "\f22b";
}
.fa-neuter:before {
  content: "\f22c";
}
.fa-genderless:before {
  content: "\f22d";
}
.fa-facebook-official:before {
  content: "\f230";
}
.fa-pinterest-p:before {
  content: "\f231";
}
.fa-whatsapp:before {
  content: "\f232";
}
.fa-server:before {
  content: "\f233";
}
.fa-user-plus:before {
  content: "\f234";
}
.fa-user-times:before {
  content: "\f235";
}
.fa-hotel:before,
.fa-bed:before {
  content: "\f236";
}
.fa-viacoin:before {
  content: "\f237";
}
.fa-train:before {
  content: "\f238";
}
.fa-subway:before {
  content: "\f239";
}
.fa-medium:before {
  content: "\f23a";
}
.fa-yc:before,
.fa-y-combinator:before {
  content: "\f23b";
}
.fa-optin-monster:before {
  content: "\f23c";
}
.fa-opencart:before {
  content: "\f23d";
}
.fa-expeditedssl:before {
  content: "\f23e";
}
.fa-battery-4:before,
.fa-battery:before,
.fa-battery-full:before {
  content: "\f240";
}
.fa-battery-3:before,
.fa-battery-three-quarters:before {
  content: "\f241";
}
.fa-battery-2:before,
.fa-battery-half:before {
  content: "\f242";
}
.fa-battery-1:before,
.fa-battery-quarter:before {
  content: "\f243";
}
.fa-battery-0:before,
.fa-battery-empty:before {
  content: "\f244";
}
.fa-mouse-pointer:before {
  content: "\f245";
}
.fa-i-cursor:before {
  content: "\f246";
}
.fa-object-group:before {
  content: "\f247";
}
.fa-object-ungroup:before {
  content: "\f248";
}
.fa-sticky-note:before {
  content: "\f249";
}
.fa-sticky-note-o:before {
  content: "\f24a";
}
.fa-cc-jcb:before {
  content: "\f24b";
}
.fa-cc-diners-club:before {
  content: "\f24c";
}
.fa-clone:before {
  content: "\f24d";
}
.fa-balance-scale:before {
  content: "\f24e";
}
.fa-hourglass-o:before {
  content: "\f250";
}
.fa-hourglass-1:before,
.fa-hourglass-start:before {
  content: "\f251";
}
.fa-hourglass-2:before,
.fa-hourglass-half:before {
  content: "\f252";
}
.fa-hourglass-3:before,
.fa-hourglass-end:before {
  content: "\f253";
}
.fa-hourglass:before {
  content: "\f254";
}
.fa-hand-grab-o:before,
.fa-hand-rock-o:before {
  content: "\f255";
}
.fa-hand-stop-o:before,
.fa-hand-paper-o:before {
  content: "\f256";
}
.fa-hand-scissors-o:before {
  content: "\f257";
}
.fa-hand-lizard-o:before {
  content: "\f258";
}
.fa-hand-spock-o:before {
  content: "\f259";
}
.fa-hand-pointer-o:before {
  content: "\f25a";
}
.fa-hand-peace-o:before {
  content: "\f25b";
}
.fa-trademark:before {
  content: "\f25c";
}
.fa-registered:before {
  content: "\f25d";
}
.fa-creative-commons:before {
  content: "\f25e";
}
.fa-gg:before {
  content: "\f260";
}
.fa-gg-circle:before {
  content: "\f261";
}
.fa-tripadvisor:before {
  content: "\f262";
}
.fa-odnoklassniki:before {
  content: "\f263";
}
.fa-odnoklassniki-square:before {
  content: "\f264";
}
.fa-get-pocket:before {
  content: "\f265";
}
.fa-wikipedia-w:before {
  content: "\f266";
}
.fa-safari:before {
  content: "\f267";
}
.fa-chrome:before {
  content: "\f268";
}
.fa-firefox:before {
  content: "\f269";
}
.fa-opera:before {
  content: "\f26a";
}
.fa-internet-explorer:before {
  content: "\f26b";
}
.fa-tv:before,
.fa-television:before {
  content: "\f26c";
}
.fa-contao:before {
  content: "\f26d";
}
.fa-500px:before {
  content: "\f26e";
}
.fa-amazon:before {
  content: "\f270";
}
.fa-calendar-plus-o:before {
  content: "\f271";
}
.fa-calendar-minus-o:before {
  content: "\f272";
}
.fa-calendar-times-o:before {
  content: "\f273";
}
.fa-calendar-check-o:before {
  content: "\f274";
}
.fa-industry:before {
  content: "\f275";
}
.fa-map-pin:before {
  content: "\f276";
}
.fa-map-signs:before {
  content: "\f277";
}
.fa-map-o:before {
  content: "\f278";
}
.fa-map:before {
  content: "\f279";
}
.fa-commenting:before {
  content: "\f27a";
}
.fa-commenting-o:before {
  content: "\f27b";
}
.fa-houzz:before {
  content: "\f27c";
}
.fa-vimeo:before {
  content: "\f27d";
}
.fa-black-tie:before {
  content: "\f27e";
}
.fa-fonticons:before {
  content: "\f280";
}
.fa-reddit-alien:before {
  content: "\f281";
}
.fa-edge:before {
  content: "\f282";
}
.fa-credit-card-alt:before {
  content: "\f283";
}
.fa-codiepie:before {
  content: "\f284";
}
.fa-modx:before {
  content: "\f285";
}
.fa-fort-awesome:before {
  content: "\f286";
}
.fa-usb:before {
  content: "\f287";
}
.fa-product-hunt:before {
  content: "\f288";
}
.fa-mixcloud:before {
  content: "\f289";
}
.fa-scribd:before {
  content: "\f28a";
}
.fa-pause-circle:before {
  content: "\f28b";
}
.fa-pause-circle-o:before {
  content: "\f28c";
}
.fa-stop-circle:before {
  content: "\f28d";
}
.fa-stop-circle-o:before {
  content: "\f28e";
}
.fa-shopping-bag:before {
  content: "\f290";
}
.fa-shopping-basket:before {
  content: "\f291";
}
.fa-hashtag:before {
  content: "\f292";
}
.fa-bluetooth:before {
  content: "\f293";
}
.fa-bluetooth-b:before {
  content: "\f294";
}
.fa-percent:before {
  content: "\f295";
}
.fa-gitlab:before {
  content: "\f296";
}
.fa-wpbeginner:before {
  content: "\f297";
}
.fa-wpforms:before {
  content: "\f298";
}
.fa-envira:before {
  content: "\f299";
}
.fa-universal-access:before {
  content: "\f29a";
}
.fa-wheelchair-alt:before {
  content: "\f29b";
}
.fa-question-circle-o:before {
  content: "\f29c";
}
.fa-blind:before {
  content: "\f29d";
}
.fa-audio-description:before {
  content: "\f29e";
}
.fa-volume-control-phone:before {
  content: "\f2a0";
}
.fa-braille:before {
  content: "\f2a1";
}
.fa-assistive-listening-systems:before {
  content: "\f2a2";
}
.fa-asl-interpreting:before,
.fa-american-sign-language-interpreting:before {
  content: "\f2a3";
}
.fa-deafness:before,
.fa-hard-of-hearing:before,
.fa-deaf:before {
  content: "\f2a4";
}
.fa-glide:before {
  content: "\f2a5";
}
.fa-glide-g:before {
  content: "\f2a6";
}
.fa-signing:before,
.fa-sign-language:before {
  content: "\f2a7";
}
.fa-low-vision:before {
  content: "\f2a8";
}
.fa-viadeo:before {
  content: "\f2a9";
}
.fa-viadeo-square:before {
  content: "\f2aa";
}
.fa-snapchat:before {
  content: "\f2ab";
}
.fa-snapchat-ghost:before {
  content: "\f2ac";
}
.fa-snapchat-square:before {
  content: "\f2ad";
}
.fa-pied-piper:before {
  content: "\f2ae";
}
.fa-first-order:before {
  content: "\f2b0";
}
.fa-yoast:before {
  content: "\f2b1";
}
.fa-themeisle:before {
  content: "\f2b2";
}
.fa-google-plus-circle:before,
.fa-google-plus-official:before {
  content: "\f2b3";
}
.fa-fa:before,
.fa-font-awesome:before {
  content: "\f2b4";
}
.fa-handshake-o:before {
  content: "\f2b5";
}
.fa-envelope-open:before {
  content: "\f2b6";
}
.fa-envelope-open-o:before {
  content: "\f2b7";
}
.fa-linode:before {
  content: "\f2b8";
}
.fa-address-book:before {
  content: "\f2b9";
}
.fa-address-book-o:before {
  content: "\f2ba";
}
.fa-vcard:before,
.fa-address-card:before {
  content: "\f2bb";
}
.fa-vcard-o:before,
.fa-address-card-o:before {
  content: "\f2bc";
}
.fa-user-circle:before {
  content: "\f2bd";
}
.fa-user-circle-o:before {
  content: "\f2be";
}
.fa-user-o:before {
  content: "\f2c0";
}
.fa-id-badge:before {
  content: "\f2c1";
}
.fa-drivers-license:before,
.fa-id-card:before {
  content: "\f2c2";
}
.fa-drivers-license-o:before,
.fa-id-card-o:before {
  content: "\f2c3";
}
.fa-quora:before {
  content: "\f2c4";
}
.fa-free-code-camp:before {
  content: "\f2c5";
}
.fa-telegram:before {
  content: "\f2c6";
}
.fa-thermometer-4:before,
.fa-thermometer:before,
.fa-thermometer-full:before {
  content: "\f2c7";
}
.fa-thermometer-3:before,
.fa-thermometer-three-quarters:before {
  content: "\f2c8";
}
.fa-thermometer-2:before,
.fa-thermometer-half:before {
  content: "\f2c9";
}
.fa-thermometer-1:before,
.fa-thermometer-quarter:before {
  content: "\f2ca";
}
.fa-thermometer-0:before,
.fa-thermometer-empty:before {
  content: "\f2cb";
}
.fa-shower:before {
  content: "\f2cc";
}
.fa-bathtub:before,
.fa-s15:before,
.fa-bath:before {
  content: "\f2cd";
}
.fa-podcast:before {
  content: "\f2ce";
}
.fa-window-maximize:before {
  content: "\f2d0";
}
.fa-window-minimize:before {
  content: "\f2d1";
}
.fa-window-restore:before {
  content: "\f2d2";
}
.fa-times-rectangle:before,
.fa-window-close:before {
  content: "\f2d3";
}
.fa-times-rectangle-o:before,
.fa-window-close-o:before {
  content: "\f2d4";
}
.fa-bandcamp:before {
  content: "\f2d5";
}
.fa-grav:before {
  content: "\f2d6";
}
.fa-etsy:before {
  content: "\f2d7";
}
.fa-imdb:before {
  content: "\f2d8";
}
.fa-ravelry:before {
  content: "\f2d9";
}
.fa-eercast:before {
  content: "\f2da";
}
.fa-microchip:before {
  content: "\f2db";
}
.fa-snowflake-o:before {
  content: "\f2dc";
}
.fa-superpowers:before {
  content: "\f2dd";
}
.fa-wpexplorer:before {
  content: "\f2de";
}
.fa-meetup:before {
  content: "\f2e0";
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
.sr-only-focusable:active,
.sr-only-focusable:focus {
  position: static;
  width: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  clip: auto;
}

/*********************
Diagnòstics
*********************/
.any-diagnostic:before{
  font-family: 'FontAwesome';
  content:"\f274";
  margin-right: 12px;
}

.sector-diagnostic:before{
  font-family: 'FontAwesome';
  content:"\f275";
  margin-right: 12px;
}

.territori-diagnostic:before{
  font-family: 'FontAwesome';
  content:"\f041";
  margin-right: 12px;
}

/*********************
ACTIVITATS
*********************/
.dades_agenda {
  font-size:  14px;
  list-style: none;
    margin-left: 0;
}

.lloc:before{
  font-family: 'FontAwesome';
  content:"\f041";
  margin-right: 12px;
}

.hora:before{
  font-family: 'FontAwesome';
  content:"\f017";
  margin-right: 12px;
}

.data:before{
  font-family: 'FontAwesome';
  content:"\f274";
  margin-right: 12px;
}

.adrecat:before{
  font-family: 'FontAwesome';
  content:"\f007";
  margin-right: 12px;
}

.llista_categories {
	font-weight: bold;
}
